<template>
  <div class="active-order" v-show="activeOrder">
    <v-card class="mb-4 mt-2" elevation="5" loading>
      <v-card-title class="text-caption"> PEDIDO EN PROGRESO </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="3" class="text-center">
            <v-icon size="40" :color="getStatusIconColor(0)"
              >mdi-clock-outline</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(1)" size="40">mdi-stove</v-icon>
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(2)" size="40"
              >mdi-motorbike</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(3)" size="40"
              >mdi-check-circle-outline</v-icon
            >
          </v-col>
        </v-row>

        <v-btn
          block
          color="primary"
          rounded
          class="mt-5"
          elevation="0"
          :to="'/order/' + $store.getters.getActiveOrder.key"
          >Ver Detalles</v-btn
        >
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "ActiveOrderComponent",
  computed: {
    activeOrder: {
      get() {
        return this.$store.getters.getActiveOrder;
      },
    },
  },
  mounted() {
    console.log(this.activeOrder);
  },
  methods: {
    getStatusIconColor(index) {
      if (index == 0) {
        return "primary lighten-1";
      } else if (index == 1) {
        if (
          this.activeOrder.status == "cook" ||
          this.activeOrder.status == "ready" ||
          this.activeOrder.status == "shipped" ||
          this.activeOrder.status == "completed"
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 2) {
        if (
          this.activeOrder.status == "shipped" ||
          this.activeOrder.status == "completed"
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 3) {
        if (this.activeOrder.status == "completed") {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      }
    },
  },
};
</script>

<style></style>
