<template>
  <div class="cart">
    <v-bottom-sheet v-model="sheet">
      <v-sheet class="text-center px-2 pb-5">
        <v-btn
          text
          :ripple="false"
          color="grey lighten-1"
          @click="sheet = !sheet"
          style="margin-top: -10px"
        >
          <v-icon style="transform: scaleX(3);" size="30">mdi-minus </v-icon>
        </v-btn>
        <div class="py-0">
          <h3>
            {{ $store.getters.getCartDetails.name }}
          </h3>
        </div>

        <v-sheet class="overflow-y-auto" max-height="80vh">
          <v-list three-line class="text-left">
            <template v-for="(item, index) in cart">
              <v-divider :key="index" v-show="index > 0"></v-divider>
              <v-list-item :key="item.key">
                <v-list-item-avatar>
                  <v-chip>{{ item.quantity }}</v-chip>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>
                    <strong class="d-inline-block title-item">{{
                      item.name
                    }}</strong>
                    <span class="float-right price-item"
                      >GTQ {{ item.price }}</span
                    >
                  </v-list-item-title>
                  <v-list-item-subtitle
                    style="max-width: 190px;"
                    v-html="item.description"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>

          <v-list class="text-left">
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>
                  <strong class="d-inline-block title-item">Subtotal</strong>
                  <strong class="float-right price-item"
                    >GTQ {{ $store.getters.cartTotals }}</strong
                  >
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-alert v-if="cart.length == 0">
            Aun no has agregado productos
          </v-alert>

          <v-btn color="primary" block large @click="toCheckout()">Ir a pagar</v-btn>
        </v-sheet>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: [],
  }),
  methods: {
    toCheckout() {
      this.$store.commit("cartStatus", false);
      this.$router.push("/checkout")
    }
  },
  computed: {
    cart: {
      get() {
        return this.$store.getters.cart;
      },
    },
    sheet: {
      get() {
        return this.$store.getters.isCartOpen;
      },
      set(value) {
        this.$store.commit("cartStatus", value);
      },
    },
  },
};
</script>

<style lang="scss">
.title-item {
  font-size: 14px;
  max-width: 140px;
}
.price-item {
  font-size: 14px;
}
</style>
