<template>
  <div class="new-address">
    <v-bottom-sheet v-model="dialog">
      <v-sheet class="text-center">
        <div class="py-3">
          <h3>Nueva dirección</h3>
          <v-sheet class="px-4 mt-3">
            <GmapMap
              :center="{
                lat: mapOptions.position.lat,
                lng: mapOptions.position.lng,
              }"
              :zoom="15"
              style="width: 100%; height: 37vh"
              :options="mapOptions.options"
            >
              <GmapMarker
                :position="mapOptions.position"
                :clickable="true"
                :draggable="true"
                @dragend="onMarkerChange"
              />
            </GmapMap>

            <span class="text-caption mt-2 d-block">
              <strong
                >Arrastra el marcador justo donde se encuentra tu
                dirección.</strong
              >
            </span>
            <v-sheet class="overflow-y-auto" max-height="36vh">
              <v-form
                @submit.prevent="saveAddress()"
                ref="form"
                v-model="valid"
              >
                <v-text-field
                  label="Nombre de la dirección"
                  required
                  outlined
                  v-model="name"
                  class="mt-4"
                ></v-text-field>
                <v-text-field
                  label="Dirección completa"
                  required
                  outlined
                  v-model="address"
                ></v-text-field>
                <v-text-field
                  label="Intrucciones"
                  required
                  outlined
                  v-model="instructions"
                ></v-text-field>
                <v-btn
                  elevation="0"
                  class="mb-4"
                  color="primary"
                  block
                  large
                  type="submit"
                  >Guardar Dirección</v-btn
                >
              </v-form>
            </v-sheet>
          </v-sheet>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import dialogMixin from "vue-dialog-mixin";
import { gmapApi } from "vue2-google-maps";
import { updateAdresses } from "@/firebase/clientAddress";

export default {
  name: "NewAddress",
  mixins: [dialogMixin],
  data: () => ({
    dialog: false,
    google: gmapApi,
    valid: false,
    mapOptions: {
      position: {
        lat: 0,
        lng: 0,
      },
      options: {
        mapId: "9e9de95b26d33ff8",
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        zoomControl: false,
        disableDefaultUi: true,
      },
    },
    savePosition: {
      lat: 0,
      lng: 0,
    },
    name: "",
    address: "",
    instructions: "",
    list: [],
  }),
  mounted() {
    this.getCurrentLocation();
  },
  methods: {
    onMarkerChange(event) {
      console.log("ONMOVE", event);
      this.savePosition.lat = event.latLng.lat();
      this.savePosition.lng = event.latLng.lng();
      console.log(this.savePosition);
    },
    openNewAddress(l) {
      this.showDialog();
      this.list = l;
    },
    closeNewAddress() {
      this.closeDialog();
    },
    getCurrentLocation() {
      const self = this;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.savePosition.lng = position.coords.longitude;
            this.savePosition.lat = position.coords.latitude;

            self.mapOptions.position.lat = position.coords.latitude;
            self.mapOptions.position.lng = position.coords.longitude;
            console.log("Tu ubicación es: ", this.savePosition);
          },
          () => {
            console.log("Error obteniendo tu ubicación");
          }
        );
      }
    },
    async saveAddress() {
      console.log("Submit");
      this.$refs.form.validate();
      if (this.valid) {
        this.list.push({
          name: this.name,
          address: this.address,
          instructions: this.instructions,
          position: this.savePosition,
        });
        await updateAdresses(this.$cookies.get("uid"), this.list);
        this.closeDialog();
      }
    },
  },
};
</script>

<style></style>
