<template>
  <v-dialog
    transition="dialog-bottom-transition"
    max-width="600"
    v-model="dialog"
  >
    <v-card>
      <v-card-text>
        <div class="text-h2 pa-12">Hello world!</div>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn text @click="dialog.value = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Loader",
  data: () => ({
    dialog: false
  }),  
};
</script>

<style></style>
