<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-app-bar absolute color="transparent" dark elevation="0">
          <v-btn @click="closeNormal()" fab class="mt-3" small color="primary">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-app-bar>

        <v-img
          :src="getProductThumbnail(product)"
          contain
          class="mx-auto product-image"
        ></v-img>
        <div class="mx-8 mt-7">
          <h4>
            {{ getProductItem().name }}
            <span class="float-right">GTQ {{ product.price }}</span>
          </h4>
          <h5
            class="font-weight-regular d-flex align-center justify-space-between"
            style="font-size: 14px;
    color: #828282;"
          >
            <div>
              <strong>{{ store.name }}</strong>
            </div>
            <div class="float-right">
              <v-rating
                v-model="rating"
                dense
                readonly
                color="amber darken-1"
                background-color="amber darken-1"
              ></v-rating>
            </div>
          </h5>

          <p class="pa-2 pt-4 mb-1">{{ product.description }}</p>

          <div class="text-center mt-6">
            <v-btn color="primary" fab small @click="numProducts++">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <span
              class="font-weight-bold px-5 inline-block"
              style="font-size: 18px"
              >{{ numProducts }}</span
            >
            <v-btn
              color="primary"
              fab
              small
              @click="numProducts > 1 ? numProducts-- : false"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </div>

          <v-btn
            color="primary"
            rounded
            block
            class="mt-5 mb-2"
            elevation="10"
            @click="addToCart()"
          >
            Agregar al carrito GTQ {{ totalToAddToCart }}
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog v-model="newOrderDialog" persistent>
      <v-card>
        <v-card-title class="text-center" style="font-size: 16px">
          Pedido en {{ store.name }}
        </v-card-title>
        <v-card-text class="mt-2">
          Tienes un pedido en progreso en <strong>{{ $store.getters.getCartDetails.name }}</strong
          >, si continuas se vaciara el carrito e iniciaremos un pedido nuevo.
          <v-btn color="primary" block large class="mt-6" rounded @click="bypassNew()">Iniciar nuevo pedido</v-btn>
          <v-btn color="primary" block large class="mt-3" rounded outlined @click="newOrderDialog = false">Cancelar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="orderInProgress" persistent>
      <v-card>
        <v-card-title class="text-center" style="font-size: 16px">
          Pedido en progreso
        </v-card-title>
        <v-card-text class="mt-2">
          Tienes un pedido en progreso, espera a que se complete para realizar otro.

          <v-btn color="primary" block large class="mt-6" rounded :to="'/order/' + $store.getters.getActiveOrder.key">Ver pedido en progreso</v-btn>
          <v-btn color="primary" block large class="mt-3" rounded outlined @click="orderInProgress = false">Cancelar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
      <v-dialog v-model="onlyClients" persistent>
      <v-card>
        <v-card-title class="text-center" style="font-size: 16px">
          Solo para clientes
        </v-card-title>
        <v-card-text class="mt-2">
         Parece que esta no es una cuenta de cliente, solo las cuentas clientes pueden realizar ordenes.
         Crea otra cuenta usando un correo diferente para hacer compras.          
          <v-btn color="primary" block large class="mt-3" rounded outlined @click="onlyClients = false">Aceptar</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import dialogMixin from "vue-dialog-mixin";
export default {
  name: "ProductDetails",
  mixins: [dialogMixin],
  props: ["product", "store", "storeID", "onClose"],
  data: () => ({
    dialog: false,
    tabs: 0,
    rating: 5,
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
    // Functionality
    newOrderDialog: false,
    numProducts: 1,
    newOrderBypass: false,
    orderInProgress: false,
    onlyClients: false
  }),
  methods: {
    closeNormal() {
      this.onClose(false);
      this.closeDialog();
    },
    validateSameStore() {
      if (this.$store.getters.getCartDetails) {
        console.log("STORE KEY: ",this.$store.getters.getCartDetails.id)
        console.log("VIEW KEY: ",this.storeID)
        if (this.$store.getters.getCartDetails.id != this.storeID) {
          return false;
        } else {
          return true;
        }
      } else {
        return true;
      }
    },
    bypassNew() {
      this.newOrderBypass = true      
      this.$store.dispatch("emptyCart");
      this.newOrderDialog = false 
      this.addToCart()
    },
    validateNotCurrentOrder() {
      if(this.$store.getters.getActiveOrder) {
        return false
      }
      return true
    },
    validateRole() {
      if(this.$cookies.get("role") == "client") {
        return true
      }
      return false
    },
    addToCart() {
      const valid = this.validateSameStore();
      if (!valid && !this.newOrderBypass) {
        console.log("Not valid");
        this.newOrderDialog = true;
        return;
      }

      if(!this.validateNotCurrentOrder()) {
        this.orderInProgress = true;
        return;
      }

      if(!this.validateRole()) {
        this.onlyClients = true;
        return;
      }

      let product = this.product;
      product["quantity"] = this.numProducts;
      this.$store.dispatch("addItem", product);
      let storeSave = this.store;
      storeSave["id"] = this.storeID;
      this.$store.dispatch("setCartDetails", storeSave);
      this.numProducts = 1
      this.onClose(true);
      this.closeDialog();
    },
    openDetails() {
      this.showDialog();
    },
    getProductItem() {
      if (this.product) {
        return this.product;
      } else {
        return {};
      }
    },
    getProductThumbnail(product) {
      if (product) {
        return (
          this.baseThumbnailUrl +
          this.product.uid +
          "%2F" +
          product.thumbnail +
          "?alt=media"
        );
      } else {
        return "";
      }
    },
  },
  computed: {
    totalToAddToCart() {
      return parseFloat(
        parseInt(this.numProducts) * parseFloat(this.product.price)
      ).toFixed(2);
    },
  },
};
</script>

<style lang="scss" scoped>
.product-image {
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 2px 10px 2px #0000005e;
}
.v-rating--dense .v-icon {
  padding: 0;
}
</style>
