<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-app-bar absolute color="transparent" dark elevation="0">
          <v-btn
            fab
            @click="$router.back()"
            small
            class="mt-2"
            color="white"
            light
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn rounded @click="openCart()" color="white" light>
            OMITIR
          </v-btn>
        </v-app-bar>

        <div class="pt-12 mx-6">
          <v-card max-width="300" class="mx-auto mt-10" rounded elevation="5">
            <v-img :src="getBanner" contain></v-img>
          </v-card>

          <v-card-title class="text-h5 mt-3 text-center d-block">
            ¿Calificar pedido en<br />
            {{ order.business.name }}?
          </v-card-title>

          <div class="mt-5 text-center text-caption">{{ getRatedText }}</div>
          <v-rating
            v-model="rating"
            class="mx-auto text-center mt-2"
            color="yellow darken-3"
            background-color="grey lighten-1"
            empty-icon="$ratingFull"
            half-increments
            hover
            large
          ></v-rating>

          <v-textarea
            class="mt-5"
            filled
            rows="2"
            row-height="20"
            label="Comentarios para el negocio"
            v-model="comments"
          ></v-textarea>

          <v-btn
            color="primary"
            large
            block
            rounded
            elevation="0"
            @click="sendRating()"
            >Enviar</v-btn
          >
        </div>

        <v-overlay :value="loading">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import dialogMixin from "vue-dialog-mixin";
import { createRatingEntry } from "@/firebase/ratings";
export default {
  name: "RatingStore",
  mixins: [dialogMixin],
  props: ["order"],
  data: () => ({
    dialog: false,
    rating: 0,
    loading: false,
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
    comments: "",
  }),
  methods: {
    openDialog(order) {
      console.log("OPEN ORDER", order);
      this.showDialog();
      console.log("u", this.$store.getters.user);
    },
    async sendRating() {
      this.loading = true
      try {
        const ratingObject = {
          value: this.rating,
          comments: this.comments,
          order: this.order.key,
          storeUid: this.order.storeUid,
        };
        await createRatingEntry(
          ratingObject,
          this.$store.getters.user
        );
  
        this.loading = false
        this.closeDialog();
      } catch (err) {
        this.loading = false
        console.log("Rating error: ", err);
      }
    },
  },
  computed: {
    getRatedText() {
      console.log(this.rating);
      if (this.rating == 0) {
        return "Has click en la la estrella que creas la correcta.";
      }
      if (this.rating <= 1) {
        return "Muy mal. ¿Qué estuvo mal?";
      } else if (this.rating <= 2) {
        return "Bastante mal. ¿Qué estuvo mal?";
      } else if (this.rating <= 3) {
        return "Regular. ¿Qué estuvo mal?";
      } else if (this.rating <= 4) {
        return "Bastante bien. ¿En que podemos mejorar?";
      } else {
        return "¡Excelente!. ¿Qué te gustó?";
      }
    },
    getBanner() {
      
      if (this.order) {
        return this.baseBannerURL + this.order.business.banner + "?alt=media";
      }
      return this.baseBannerURL + "?alt=media";
    },
  },
};
</script>

<style>
</style>