<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-toolbar color="primary" dark
        >Confirmación - <strong>{{ name }}</strong></v-toolbar
      >
      <v-card-text style="font-size: 18px" class="py-5">
        Desea eliminar esta categoría ?

        <v-btn color="white" @click="closeDialog(false)" class="mt-4 mr-2">
          Cancelar</v-btn
        >

        <v-btn color="primary" @click="closeDialog(true)" class="mt-4"
          ><v-icon class="mr-2">mdi-delete</v-icon> Eliminar</v-btn
        >
      </v-card-text>

      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AddCategory",
  props: ["onClose"],
  data: () => ({
    dialog: false,
    overlay: false,
    name: "",
  }),
  methods: {
    closeDialog(confirm) {
      this.dialog = false;
      this.onClose(confirm);
    },
    openDialog(name) {
      this.dialog = true;
      this.name = name;
    },
  },
};
</script>
