<template>
  <v-dialog v-model="dialog" fullscreen>
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Editar Producto</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-card-text>
        <v-form
          class="mt-5"
          v-model="valid"
          lazy-validation
          @submit.prevent="saveProduct()"
          ref="form"
        >
          <v-text-field
            label="Nombre"
            required
            filled
            v-model="product.name"
            :rules="[(value) => !!value || 'Nombre requerido']"
            dense
          ></v-text-field>

          <v-text-field
            label="Precio"
            required
            filled
            v-model="product.price"
            :rules="[(value) => !!value || 'Precio requerido']"
            dense
            type="number"
          ></v-text-field>

          <v-textarea
            label="Descripción"
            required
            filled
            v-model="product.description"
            height="100"
            dense
            :rules="[(value) => !!value || 'Descripción requerido']"
          ></v-textarea>

          <v-select
            label="Categoría"
            filled
            :items="categories"
            v-model="category"
            attach
            chips
            multiple
          ></v-select>

          <v-img
            v-if="thumbnail"
            :src="image_url"
            width="180"
            class="mx-auto mb-5"
          ></v-img>

          <v-file-input
            accept="image/*"
            label="Product Image"
            v-model="thumbnail"
            filled
            required
            dense
            @change="onImageChange()"
          ></v-file-input>

          <v-btn block color="primary" type="submit" class="mt-2"
            ><v-icon class="mr-2">mdi-content-save</v-icon> Guardar</v-btn
          >
        </v-form>
      </v-card-text>

      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
import { getBusinessCategories } from "@/firebase/users";
import { uploadFile } from "@/firebase/storage";
import { updateProduct } from "@/firebase/products";
export default {
  name: "ditProduct",
  props: ["onClose"],
  data: () => ({
    dialog: false,
    valid: false,
    overlay: false,
    categories: [],
    //Fields
    name: "",
    price: "",
    description: "",
    thumbnail: null,
    category: "",
    image_url: "",
    product: {
      name: "",
    },
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
  }),
  methods: {
    openDialog(p) {
      this.product = p;
      let cats = this.product.category;
      cats = cats.split(",");
      this.category = cats;

      this.image_url =
        this.baseThumbnailUrl +
        this.product.uid +
        "%2F" +
        this.product.thumbnail +
        "?alt=media";
      this.thumbnail = "nochange";

      this.dialog = true;
    },
    async saveProduct() {
      this.$refs.form.validate();
      this.overlay = true;
      if (this.valid) {
        try {
          if (this.thumbnail == "nochange") {
            this.thumbnail = false;
          }

          await updateProduct(
            this.product.key,
            this.product.name,
            this.product.price,
            this.product.description,
            this.thumbnail,
            this.category.join(","),
            this.product
          );

          if (this.thumbnail != "nochange" && this.thumbnail) {
            await uploadFile(
              this.thumbnail,
              this.product.key,
              "users/products/" + this.$cookies.get("uid") + "/"
            );
          }
          this.thumbnail = "nochange";
          this.dialog = false;
          this.overlay = false;
          this.onClose();
        } catch (err) {
          this.overlay = false;
          console.log("ERROR",err);
        }
      } else {
        this.overlay = false;
      }
    },
    onImageChange() {
      if (this.thumbnail) {
        this.image_url = URL.createObjectURL(this.thumbnail);
      }
    },
    async getCategories() {
      try {
        const response = await getBusinessCategories(this.$cookies.get("uid"));
        this.categories = [];
        for (const item of response) {
          if (item) {
            this.categories.push(item);
          }
        }
      } catch (err) {
        console.log(err);
        this.categories = [];
      }
    },
  },
  mounted() {
    this.getCategories();
  },
};
</script>
