<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-toolbar color="primary" dark>Nueva Categoría</v-toolbar>
      <v-card-text>
        <v-form
          class="mt-5"
          v-model="valid"
          lazy-validation
          @submit.prevent="saveCategory()"
          ref="form"
        >
          <v-text-field
            label="Nombre"
            required
            filled
            v-model="name"
            :rules="[(value) => !!value || 'Nombre requerido']"
            dense
          ></v-text-field>

          <v-btn block color="primary" type="submit" class="mt-2"
            ><v-icon class="mr-2">mdi-content-save</v-icon> Guardar</v-btn
          >
        </v-form>
      </v-card-text>

      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
import { updateBusinessCategories } from "@/firebase/users";
export default {
  name: "AddCategory",
  props: ["onClose"],
  data: () => ({
    dialog: false,
    valid: false,
    name: "",
    overlay: false,
    list: [],
  }),
  methods: {
    openDialog(l) {
      this.dialog = true;
      this.list = l;
    },
    async saveCategory() {
      this.$refs.form.validate();
      this.overlay = true;
      if (this.valid) {
        try {
          this.list.push(this.name);
          await updateBusinessCategories(this.$cookies.get("uid"), this.list);

          this.dialog = false;
          this.$refs.form.reset();
          this.overlay = false;
          this.onClose();
        } catch (err) {
          this.overlay = false;
          console.log(err);
        }
      } else {
        this.overlay = false;
      }
    },
  },
};
</script>
