<template>
  <v-dialog v-model="dialog" fullscreen>
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Nuevo Producto</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-card-text>
        <v-form
          class="mt-5"
          v-model="valid"
          lazy-validation
          @submit.prevent="saveProduct()"
          ref="form"
        >
          <v-text-field
            label="Nombre"
            required
            filled
            v-model="name"
            :rules="[(value) => !!value || 'Nombre requerido']"
            dense
          ></v-text-field>

          <v-text-field
            label="Precio"
            required
            filled
            v-model="price"
            :rules="[(value) => !!value || 'Precio requerido']"
            dense
            type="number"
          ></v-text-field>

          <v-textarea
            label="Descripción"
            required
            filled
            v-model="description"
            height="100"
            dense
            :rules="[(value) => !!value || 'Descripción requerido']"
          ></v-textarea>

          <v-select
            label="Categoría"
            filled            
            :items="categories"
            v-model="category"
            attach
            chips
            multiple
          ></v-select>

          <v-img
            v-if="thumbnail"
            :src="image_url"
            width="180"
            class="mx-auto mb-5"
          ></v-img>

          <v-file-input
            accept="image/*"
            label="Product Image"
            v-model="thumbnail"
            filled
            required
            dense
            @change="onImageChange()"
          ></v-file-input>

          <v-btn block color="primary" type="submit" class="mt-2"
            ><v-icon class="mr-2">mdi-content-save</v-icon> Guardar</v-btn
          >
        </v-form>
      </v-card-text>

      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
import { getBusinessCategories } from "@/firebase/users";
import { uploadFile } from "@/firebase/storage";
import { addProduct } from "@/firebase/products";
export default {
  name: "AddProduct",
  props: ["onClose"],
  data: () => ({
    dialog: false,
    valid: false,
    overlay: false,
    categories: [],
    //Fields
    name: "",
    price: "",
    description: "",
    thumbnail: null,
    category: "",
    image_url: "",
  }),
  methods: {
    openDialog() {
      this.dialog = true;
    },
    async saveProduct() {
      this.$refs.form.validate();
      this.overlay = true;
      if (this.valid) {
        try {
          const productId = await addProduct(
            this.$cookies.get("uid"),
            this.name,
            this.price,
            this.description,
            this.thumbnail,
            this.category.join(",")
          );
          await uploadFile(
            this.thumbnail,
            productId,
            "users/products/" + this.$cookies.get("uid") + "/"
          );

          this.dialog = false;
          this.$refs.form.reset();
          this.overlay = false;
          this.onClose();
        } catch (err) {
          this.overlay = false;
          console.log(err);
        }
      } else {
        this.overlay = false;
      }
    },
    onImageChange() {
      if (this.thumbnail) {
        this.image_url = URL.createObjectURL(this.thumbnail);
      }
    },
    async getCategories() {
      try {
        const response = await getBusinessCategories(this.$cookies.get("uid"));
        this.categories = [];
        for (const item of response) {
          if (item) {
            this.categories.push(item);
          }
        }
      } catch (err) {
        this.categories = [];
      }
    },
  },
  mounted() {
    this.getCategories();
  },
};
</script>
