<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-app-bar absolute color="transparent" dark elevation="0">
          <v-btn @click="closeNormal()" fab class="mt-3" small color="primary">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-app-bar>

        <v-img
          :src="getProductThumbnail(product)"
          contain
          class="mx-auto product-image"
        ></v-img>
        <div class="mx-8 mt-7">
          <h4>
            {{ getProductItem().name }}
            <span class="float-right">GTQ {{ getProductItem().price }}</span>
          </h4>
          <h5
            class="
              font-weight-regular
              d-flex
              align-center
              justify-space-between
            "
            style="font-size: 14px; color: #828282"
          >
            <div class="float-right">
              <v-rating
                v-model="rating"
                dense
                readonly
                color="amber darken-1"
                background-color="amber darken-1"
              ></v-rating>
            </div>
          </h5>
          <p class="pa-2 pt-4 mb-1">{{ product.description }}</p>

          <div class="mt-10">
            <v-btn
              rounded
              large
              color="success"
              outlined
              block
              elevation="0"
              @click="$refs.editProduct.openDialog(product)"
            >
              <v-icon class="mr-2">mdi-pencil</v-icon>
              Editar Producto
            </v-btn>
            <v-btn
              rounded
              large
              outlined
              class="mt-3"
              color="red"
              dark
              block
              elevation="0"
              @click="dialogDelete = true"
            >
              <v-icon class="mr-2">mdi-delete</v-icon>
              Eliminar Producto</v-btn
            >
          </div>
        </div>
      </v-card>
      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-dialog>

    <v-dialog v-model="dialogDelete" persistent max-width="300">
      <v-card>
        <v-card-title class="text-h5"> Eliminar este producto </v-card-title>
        <v-card-text>Esta acción no se puede deshacer.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="black darken-1" text @click="dialogDelete = false">
            Cancelar
          </v-btn>
          <v-btn
            color="red darken-1"
            class="px-8"
            @click="deleteProduct()"
            rounded
            dark
            elevation="0"
          >
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ProductEditDialog ref="editProduct" :onClose="closeEdit"></ProductEditDialog>
  </v-row>
</template>

<script>
import dialogMixin from "vue-dialog-mixin";
import { deleteProduct } from "@/firebase/products";
import ProductEditDialog from "@/components/Home/Business/Dialogs/EditProduct.vue";
import { deleteFile } from "@/firebase/storage";

export default {
  name: "ProductDetails",
  mixins: [dialogMixin],
  components: { ProductEditDialog },
  props: ["onClose"],
  data: () => ({
    dialog: false,
    overlay: false,
    tabs: 0,
    rating: 5,
    product: {
      name: "",
    },
    dialogDelete: false,
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
  }),
  methods: {
    closeNormal() {
      this.onClose(false);
      this.closeDialog();
    },
    openDetails(p) {
      this.product = p;
      this.overlay = false;      
      this.showDialog();
    },
    closeEdit() {
        this.closeNormal()
    },
    async deleteProduct() {
      this.overlay = true;
      try {
        this.dialogDelete = false;
        await deleteProduct(this.product.key);
        await deleteFile(this.product.thumbnail, "users/products/" + this.$cookies.get("uid") + "/")
        this.overlay = false;
        this.closeNormal();
      } catch (err) {
        console.log(err);
        this.overlay = true;
      }
    },
    getProductItem() {
      if (this.product) {
        return this.product;
      } else {
        return {};
      }
    },
    getProductThumbnail(product) {
      if (product) {
        return (
          this.baseThumbnailUrl +
          this.product.uid +
          "%2F" +
          product.thumbnail +
          "?alt=media"
        );
      } else {
        return "";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.product-image {
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 2px 10px 2px #0000005e;
}
.v-rating--dense .v-icon {
  padding: 0;
}
</style>
