<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card shaped>
        <v-card-text class="pa-4">
          <v-img
            :src="getProductThumbnail(product)"
            cover
            class="mx-auto product-image"
            max-height="200"
          ></v-img>
         
            <h2 class="mt-2 mb-2">{{product.name}}</h2>
            <h3 class="mb-4">Precio: GTQ {{product.price}}</h3>
            <p style="font-size: 16px">
                {{product.description}}
            </p>
         </v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>          
          <v-btn color="primary darken-1" text @click="dialog = false">
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import dialogMixin from "vue-dialog-mixin";
export default {
  name: "ProductDetails",
  mixins: [dialogMixin],
  data: () => ({
    dialog: false,
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
    product: {
      description: "",
      key: "",
      name: "",
      price: "",
    },
  }),
  methods: {
    openDetails(product) {
      this.product = product;
      this.showDialog();
    },
     getProductThumbnail() {
      if (this.product) {
        return (
          this.baseThumbnailUrl +
          this.product.uid +
          "%2F" +
          this.product.thumbnail +
          "?alt=media"
        );
      } else {
        return "";
      }
    },
  },
};
</script>

<style></style>
