<template>
  <v-card class="mb-4 product-item d-flex align-center" height="90" @click="handleClick()">
    <v-card-text>
      <v-row>
        <v-col cols="8">
          <h4 class="black--text mt-3">{{ product.name }}</h4>
          <h4 class="black--text font-weight-regular">
            GTQ {{ product.price }}
          </h4>
          <p class="product-desc">
            {{ product.description }}
          </p>
        </v-col>
        <v-col cols="4" class="d-flex align-center justify-end pr-0">
          <v-img
            :src="getProductThumbnail(product)"
            width="80"
            height="120"
            max-width="120"
            max-height="80"
            cover
            class="product-img"
          ></v-img>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SingleProduct",
  props: ["product", "onclick"],
  data: () => ({
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
  }),
  methods: {
    handleClick() {
      if(this.onclick) {
        this.onclick(this.product)
      }
    },
    getProductThumbnail(product) {
      return (
        this.baseThumbnailUrl +
        this.product.uid +
        "%2F" +
        product.thumbnail +
        "?alt=media"
      );
    },
  },
};
</script>

<style lang="scss">
.product-item {
  box-shadow: 0 3px 10px #0000002e !important;
  border-radius: 16px;
}
.product-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.product-img {
  height: 90px;
  max-width: 90px;
  width: 90px;
  border-radius: 5px;
  overflow: hidden;
}
</style>
