<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-toolbar color="primary" dark>Nueva Categoría</v-toolbar>
      <v-card-text>
        <v-form
          class="mt-5"
          v-model="valid"
          lazy-validation
          @submit.prevent="saveCategory()"
          ref="form"
        >
          <v-text-field
            label="Nombre"
            required
            filled
            v-model="name"
            :rules="[(value) => !!value || 'Nombre requerido']"
            dense
          ></v-text-field>
          <v-file-input
            accept="image/*"
            label="Category Image"
            v-model="thumbnail"
            filled
            required
            dense
          ></v-file-input>
          <v-textarea
            label="Descripción"
            required
            filled
            v-model="description"
            height="100"
            dense
            :rules="[(value) => !!value || 'Descripción requerido']"
          ></v-textarea>
          <v-color-picker class="ma-2" hide-canvas hide-inputs v-model="color"></v-color-picker>
          <h4 class="text-center">Preview</h4>
          <v-card
            class="ma-2 d-flex align-center justify-center mx-auto mb-5"
            height="100"
            width="100"
            elevation="0"
          >
            <div>
              <div class="image-cat" :style="'background-color: ' + color">
                <v-img
                  :src="getPreviewURL"
                  width="50"
                  class="mx-auto mb-1"
                  contain
                ></v-img>
              </div>
              <h5 class="cat-title">{{ name }}</h5>
            </div>
          </v-card>

          <v-btn block color="primary" type="submit" class="mt-2"
            ><v-icon class="mr-2">mdi-content-save</v-icon> Guardar</v-btn
          >
        </v-form>
      </v-card-text>

      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-dialog>
</template>

<script>
import { addCategory } from "../../../../firebase/categories";
import { uploadFile } from "@/firebase/storage";
export default {
  name: "AddCategory",
  props: ["onClose"],
  data: () => ({
    dialog: false,
    valid: false,
    name: "",
    description: "",
    color: '',
    thumbnail: null,
    overlay: false,
  }),
  methods: {
    openDialog() {
      this.dialog = true;
    },
    async saveCategory() {
      this.$refs.form.validate();
      this.overlay = true;
      if (this.valid) {
        try {
          const catid = await addCategory(
            this.name,
            this.description,
            this.thumbnail,
            this.color
          );
          const upload = await uploadFile(this.thumbnail, catid, 'categories');
          console.log(upload);
          this.dialog = false;
          this.$refs.form.reset();
          this.overlay = false;
          this.onClose();
        } catch (err) {
          this.overlay = false;
          console.log(err);
        }
      } else {
        this.overlay = false;
      }
    },
  },
  computed: {
    getPreviewURL: function() {
      if (this.thumbnail) {
        return URL.createObjectURL(this.thumbnail);
      }
      return false;
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.image-cat {
  padding: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f45b55;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #00000026;
}
.cat-title {
  position: absolute;
  bottom: -10px;
  left: 10px;
}
</style>
