<template>
  <v-card class="mx-auto mb-5 newcard" :to="'/store/' + item.uid">
    <v-img
      height="150"
      :src="baseBannerURL + item.business.banner + '?alt=media'"
    ></v-img>

    <v-card-title class="my-0 pb-0 pt-1 d-flex justify-space-between">
      {{ item.business.name }}
      <v-chip small class="float-rigth">        
        {{ item.starCount }}
        <v-icon color="yellow darken-2" class="ml-2" size="20">mdi-star</v-icon>
        </v-chip>
    </v-card-title>
    <v-card-text class="pb-1">
      {{ item.business.deliveryTime }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SingleBusiness",
  props: ['item'],
  data: () => ({    
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
  }),
};
</script>

<style></style>
