<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Categorías</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark @click="$refs.newDialog.openDialog()" icon>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-alert text color="primary" class="mt-5 mx-3" v-if="list.length == 0">
          <h3 class="text-h5">
            No se encontraron categorías
          </h3>
          <div>
            Agrega categorías para que los negocios puedan asignarlas a sus
            productos.
          </div>
        </v-alert>

        <v-list>
          <v-list-item v-for="(item, index) of list" :key="index">
            <v-list-item-avatar tile :style="'background-color:' + item.color" class="pa-1">
              <v-img :src="'https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/categories%2F'+item.thumbnail+'?alt=media'" contain></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
              <v-list-item-subtitle>{{
                item.description
              }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card>
      <v-btn
        color="primary"
        dark
        bottom
        right
        fab
        absolute
        class="mb-12"
        @click="openNew()"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <newDialog ref="newDialog" :onClose="updateList"></newDialog>
    </v-dialog>
  </v-row>
</template>

<script>
import { getAllCategories } from "@/firebase/categories";
import newDialog from "./Dialogs/AddCategory.vue";
export default {
  name: "CategoriesList",
  components: { newDialog },
  data: () => ({
    dialog: false,
    list: [],
  }),
  methods: {
    openDialog() {
      this.dialog = true;
      this.getData();
    },
    openNew() {
      this.$refs.newDialog.openDialog();
    },
    updateList() {
      this.getData();
    },
    async getData() {
      try {
        const response = await getAllCategories();
        console.log(response);
        this.list = response;
        console.log(this.list);
      } catch (err) {
        this.list = err;
      }
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style></style>
