<!DOCTYPE html>
<html lang="es" ranslate="no">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <meta name="google" content="notranslate">
    <meta name="title" content="Mi Local">
    <meta name="description" content="Tienda en línea para negocios locales en tu zona, envíos a domicilio, seguimiento de pedidos y más.">
    <meta name="keywords" content="tienda, productos, comida, restaurantes, bebidas, local, negocio, colonia">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">


    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Mi Local - Negocios Locales</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">    
    
    <meta name="google-signin-client_id" content="1025924317829-j1ridv8vfcantea22q2vcg4en2f9mseq.apps.googleusercontent.com">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
