<template>
  <div class="categories pa-3 pt-4">
    <v-alert text color="primary" class="mt-5 mx-3" v-if="list.length == 0 && loading == false">
      <h3 class="text-h5">
        Sin resultados
      </h3>
      <div>
        Agrega categorías filtrar tus productos.
      </div>
    </v-alert>

    <p>
      Agrega las categoría o secciones de tus productos, ordenalo arrastrando
      cada elemento de la forma que prefieras (<strong
        >este sera el orden</strong
      >
      en el que tus clientes veran tus productos.)
    </p>      
    <v-sheet  et class="overflow-y-auto" max-height="71vh">      
      <v-list>
        <draggable v-model="list" @change="onSortCategories">
          <v-template v-for="(item, index) of list" :key="index">
            <v-divider v-if="index > 0"></v-divider>
            <v-list-item @click="openMenu(item, index)">
              <v-list-item-action>
                <v-btn icon><v-icon>mdi-drag</v-icon></v-btn>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ item }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-template>
        </draggable>
      </v-list>
    </v-sheet>

    <v-btn
      color="primary"
      dark
      bottom
      right
      fab
      fixed
      class="mb-12"
      style="bottom: 30px !important"
      @click="openNew()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <NewCategory ref="newDialog" :onClose="getData"></NewCategory>
    <MenuCat :name="activeCat" :onClose="getData" ref="catMenu"></MenuCat>
    
    <v-overlay :value="loading">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import { getBusinessCategories, updateBusinessCategories } from "@/firebase/users";
import NewCategory from "@/components/Home/Business/Dialogs/NewCategory.vue";

import MenuCat from "@/components/Home/Business/Menus/Category.vue";
import draggable from "vuedraggable";

export default {
  name: "Categories",
  components: { NewCategory, MenuCat, draggable },
  data: () => ({
    loading: true,
    list: [],
    myArray: [],
    activeCat: false,
  }),
  methods: {
    openNew() {
      this.$refs.newDialog.openDialog(this.list);
    },
    openMenu(cat, i) {
      this.$refs.catMenu.openMenu(this.list, cat, i);
    },
    async getData() {
      try {
        const response = await getBusinessCategories(this.$cookies.get("uid"));
        this.list = [];
        for (const item of response) {
          if (item) {
            this.list.push(item);
          }
        }
        this.loading = false
      } catch (err) {
        this.list = [];
         this.loading = false
      }
    },
    async onSortCategories() {
      this.loading = true
      console.log("Updating business Categories")
       try {          
          await updateBusinessCategories(this.$cookies.get("uid"), this.list);
          this.loading = false
       } catch(err) {
         this.loading = false
         console.log("Error updatin categories", err)
       }
    }
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    this.getData();
  },
};
</script>

<style lang="scss" scoped>
.rounded-field {
  border-radius: 16px !important;
}
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
</style>
