<template>
  <div class="home-admin pa-4">
      <v-card class="mb-4" to="/business/settings">
      <v-card-title class="d-block">
        <v-icon class="mr-2" color="primary">mdi-store</v-icon> Información basica
      </v-card-title>
      <v-card-text>
        Configura los detalles de tu negocio.
        Nombre, logo, contacto, banners
      </v-card-text>
    </v-card>
    <v-card  to="/business/statistics" class="mb-4">
      <v-card-title class="d-block">
        <v-icon class="mr-2" color="accent">mdi-chart-areaspline-variant</v-icon> Estadísticas        
      </v-card-title>

      <v-card-text>
        Revisa los ingresos y cobros de tu tienda.
      </v-card-text>
    </v-card>
    <v-card class="mb-4" to="/business/products">
      <v-card-title class="d-block">
        <v-icon class="mr-2" color="green">mdi-cart</v-icon> Mis Productos
      </v-card-title>
      <v-card-text>
        Adminstra los productos de tu negocio.
      </v-card-text>
    </v-card>
    <v-card class="mb-4" to="/business/categories">
      <v-card-title class="d-block">
        <v-icon class="mr-2" color="black">mdi-tag-multiple</v-icon> Mis Categorías
      </v-card-title>
      <v-card-text>
        Configura categorías internas para filtrar tus productos.
      </v-card-text>
    </v-card>
    
    <CategoriesList ref="categoriesDialog"></CategoriesList>
  </div>
</template>

<script>
import CategoriesList from "@/components/Home/Admin/CategoriesList.vue";
export default {
  name: "Dashboard",
  components: { CategoriesList },
  data: () => ({}),
  methods: {},
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
</style>
