<template>
  <div class="order pa-3 pt-4">
    <v-card class="information  mt-3">
      <v-card-title>Estado de la orden</v-card-title>
      <v-card-text class="mt-2 pb-5">
        <v-row>
          <v-col cols="3" class="text-center">
            <v-icon size="40" :color="getStatusIconColor(0)"
              >mdi-clock-outline</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(1)" size="40">mdi-stove</v-icon>
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(2)" size="40"
              >mdi-motorbike</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(3)" size="40"
              >mdi-check-circle-outline</v-icon
            >
          </v-col>
        </v-row>
        <h3 class="text-center mt-5 |--text">
          {{ getStatusText(order.status) }}
        </h3>
        <v-btn
          x-large
          block
          color="light-green darken-1"
          dark
          class="mt-5"
          elevation="0"
          @click="aproveOrder()"
          v-if="order.status == 'requested'"
        >
          APROBAR PEDIDO
          <v-icon class="ml-2">mdi-check-circle-outline</v-icon>
        </v-btn>
        <v-btn
          x-large
          block
          color="light-green darken-1"
          dark
          class="mt-5"
          elevation="0"
          @click="readyToShip()"
          v-if="order.status == 'cook'"
        >
          LISTO PARA RECOJER
          <v-icon class="ml-2">mdi-truck-delivery</v-icon>
        </v-btn>

         <v-btn
          x-large
          block
          color="blue darken-1"
          dark
          class="mt-5"
          elevation="0"
          @click="shippedOrder()"
          v-if="order.status == 'ready'"
        >
          MARCAR EN CAMINO
          <v-icon class="ml-2">mdi-truck-delivery</v-icon>
        </v-btn>

        <v-btn
          x-large
          block
          color="light-green darken-1"
          dark
          class="mt-5"
          elevation="0"
          @click="compleOrder()"
          v-if="order.status == 'ready' || order.status == 'shipped'"
        >
          MARCAR ENTREGADA
          <v-icon class="ml-2">mdi-check-circle</v-icon>
        </v-btn>


        <v-alert color="success" outlined class="mt-4" v-if="order.status == 'shipped'">
            En espera de la entrega para completar el pedido :)
        </v-alert>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text class="black--text" ref="orderDetails">
        <h4 class="mt-3 mb-2">Tiempo</h4>
        <span class="text-lowercase" style="font-size:20px">{{
          order.create_date | formatDate
        }}</span>

        <h4 class="mt-3 mb-2">Entregar en</h4>
        <span style="font-size:20px">{{ order.address.address }}</span>

        <h4 class="mt-3 mb-2">Total</h4>
        <span style="font-size:20px">GTQ {{ order.total }}</span>

        <h4 class="mt-3 mb-2">Metodo de pago</h4>
        <span style="font-size:20px"
          ><v-icon size="25">mdi-cash</v-icon> Efectivo</span
        >

        <h4 class="mt-3 mb-2">Notas</h4>
        <span style="font-size:20px">{{ order.notes }}</span>
      </v-card-text>
      <v-divider> </v-divider>
      <v-card-title class="pb-1" style="font-size:16px">
        ITEMS DE LA ORDEN
      </v-card-title>
      <v-card-text class="black--text">
        <v-list subheader>
          <v-list-item
            v-for="product in order.items"
            :key="product.key"
            class="px-0"
            @click="$refs.productDetails.openDetails(product)"
          >
            <v-list-item-avatar tile>
              <v-img
                :alt="product.name"
                :src="getProductThumbnail(product.thumbnail)"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                ><strong>{{ product.quantity }}</strong> x
                {{ product.name }}</v-list-item-title
              >
            </v-list-item-content>

            <v-list-item-icon>
              <strong
                >GTQ
                {{
                  parseFloat(
                    parseFloat(product.price) * parseInt(product.quantity)
                  ).toFixed(2)
                }}</strong
              >
            </v-list-item-icon>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <p class="pt-4">
          Recuerde revisar las notas de la orden para cumplir con las
          necesidades de sus clientes.
        </p>

        <v-divider></v-divider>
        <div class="d-flex align-center justify-space-between mt-5 mb-0">
          <strong>Subtotal</strong>
          <strong>GTQ {{ order.total }}</strong>
        </div>
        <div class="d-flex align-center justify-space-between mt-2 mb-0">
          <strong>Envio</strong>
          <strong>Gratis</strong>
        </div>
        <div
          class="d-flex align-center justify-space-between mt-2"
          :class="[
            order.cashReturn && order.cashReturn != 'NaN' ? 'mb-0' : 'mb-10',
          ]"
        >
          <strong>Total</strong>
          <strong>GTQ {{ order.total }}</strong>
        </div>
        <div
          class="d-flex align-center justify-space-between mt-2 mb-10"
          v-if="order.cashReturn && order.cashReturn != 'NaN'"
        >
          <strong>Vuelto</strong>
          <strong>GTQ {{ order.cashReturn }}</strong>
        </div>

        <v-btn
          color="primary"
          v-show="order.status == 'requested'"
          class="mb-5"
          elevation="0"
          block
          x-large
          >RECHAZAR PEDIDO <v-icon class="ml-2">mdi-cancel</v-icon>
        </v-btn>
        <v-btn color="primary" elevation="0" block text class="mb-5" v-if="order.status != 'completed'"
          >Contactar a Soporte <v-icon class="ml-2">mdi-face-agent</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <ProductDetails ref="productDetails"></ProductDetails>
  </div>
</template>

<script>
import { getOrder, updateOrderEntry } from "@/firebase/orders";
import { getBusinessInfo } from "@/firebase/users";
import ProductDetails from '@/components/Products/DialogDetails.vue'
export default {
  name: "Order",
  components: {ProductDetails},
  data: () => ({
    order: {},
    store: false,
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
    loading: false,
  }),
  methods: {
    getStatusIconColor(index) {
      if (index == 0) {
        return "primary lighten-1";
      } else if (index == 1) {
        if (
          this.order.status == "cook" ||
          this.order.status == "ready" ||
          this.order.status == "shipped" ||
          this.order.status == "completed" 
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 2) {
        if (
          this.order.status == "shipped" ||
          this.order.status == "completed"
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 3) {
        if (this.order.status == "completed") {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      }
    },
    async readyToShip() {
      this.loading = true;
      try {
        await updateOrderEntry(this.$route.params.id, "status", "ready");
        this.getData();
        this.$smoothScroll({
          scrollTo: this.$refs.orderDetails,
          offset: -50,
        });
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },
    async aproveOrder() {
      this.loading = true;
      try {
        await updateOrderEntry(this.$route.params.id, "status", "cook");
        this.getData();
        this.$smoothScroll({
          scrollTo: this.$refs.orderDetails,
          offset: -50,
        });
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },
    async shippedOrder() {
      this.loading = true;
      try {
        await updateOrderEntry(this.$route.params.id, "status", "shipped");
        this.getData();
        this.$smoothScroll({
          scrollTo: this.$refs.orderDetails,
          offset: -50,
        });
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },
    async compleOrder() {
      this.loading = true;
      try {
        await updateOrderEntry(this.$route.params.id, "status", "completed");
        this.getData();
        this.$smoothScroll({
          scrollTo: this.$refs.orderDetails,
          offset: -50,
        });
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },    
    async getData() {
      const response = await getOrder(this.$route.params.id);
      this.order = response.val();
      const response_business = await getBusinessInfo(this.order.storeUid);
      this.store = response_business;
      console.log(this.order, this.store);
    },
    getProductThumbnail(image) {
      return (
        this.baseThumbnailUrl +
        this.order.storeUid +
        "%2F" +
        image +
        "?alt=media"
      );
    },
    getStatusText(str) {
      switch (str) {
        case "requested":
          return "Pendiente";
        case "cook":
          return "Preparando";
        case "ready":
          return "Lista para recojer";
        case "shipped":
          return "En Camino";
        case "completed":
          return "Completada";
        default:
          return "Cancelada";
      }
    },
    async updateOrder(status) {
      this.loading = true;
      try {
        await updateOrderEntry(this.$route.params.id, "status", status);
        this.getData();
        this.loading = false;
      } catch (err) {
        this.loading = false;
      }
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    this.order_id = this.$route.params.id.toString().substring(1, 8);
    this.getData();
  },
};
</script>
