<template>
  <div class="orders pa-3 pt-4">
    <v-text-field
      required
      filled
      rounded
      placeholder="¿Buscar pedido?"
      clearable
      prepend-inner-icon="mdi-magnify"
      hide-details
      class="mb-3 rounded-field"
      dense
    ></v-text-field>

    <v-sheet class="overflow-y-auto px-2 mt-2 pb-5 pt-2" max-height="78vh">
    
      <v-card
        class="mb-4 newcard"
        v-for="order of $store.getters.getOrdersList"
        :key="order.key"
        :loading="isLoading(order.status)"
      >
        <v-card-title class="text-caption text-uppercase pb-0">
          <strong> {{ getStatusText(order.status) }}</strong>
        </v-card-title>
        <v-card-text>
          <h4 class="mt-2">Entrega en</h4>
          <span>{{ order.address.address }}</span>
          <div v-show="isLoading(order.status)" class="timer">
            <v-chip
              :color="getTimerColor(TimeFromTime(order.create_date))"
              class="px-5"
              dark
              >{{ order.create_date | timeFromDate }}</v-chip
            >
          </div>
          <h4 class="mt-2">Fecha</h4>
          <span>{{ order.create_date | formatDate }}</span>
          <h4 class="mt-2">Total</h4>
          <span>GTQ {{ order.total }}</span>
          <v-btn
            color="primary"
            class="mt-3"
            elevation="0"
            small
            block
            v-show="isLoading(order.status)"
            :to="'/business/order/' + order.key"
            >Ver detalles</v-btn
          >
          <v-btn
            color="primary"
            class="mt-3"
            elevation="0"
            small
            text
            block
            v-show="!isLoading(order.status)"
            :to="'/business/order/' + order.key"
            >Ver detalles</v-btn
          >
        </v-card-text>
      </v-card>
    </v-sheet>
  </div>
</template>

<script>
import * as dayjs from "dayjs";
import { getStoreOrders } from "@/firebase/orders";
export default {
  name: "Orders",
  data: () => ({
    orders: [],
  }),
  methods: {
    async getOrders() {
      const response = await getStoreOrders(this.$cookies.get("uid"));
      this.orders = [];
      for (const key in response.val()) {
        let order = response.val()[key];
        order["key"] = key;
        if (response.val()[key].status == "requested") {
          this.$store.dispatch("setActiveOrder", order);
        }
        this.orders.push(order);
      }
      this.orders.reverse();      
    },
    getStatusText(str) {
      switch (str) {
        case "requested":
          return "Pendiente";
        case "cook":
          return "Preparando";
        case "ready":
          return "Lista para recojer";
        case "shipped":
          return "En Camino";
        case "completed":
          return "Completada";
        default:
          return "Cancelada";
      }
    },
    isLoading(status) {
      if (status == "requested" || status == "cook" || status == "ready" || status == "shipped") {
        return true;
      }
      return false;
    },
    TimeFromTime(value) {
      const d1 = dayjs(value);
      return dayjs().diff(d1, "minute");
    },
    getTimerColor(time) {
      if (time < 30) {
        return "light-green darken-2";
      } else if (time < 60) {
        return "amber darken-3";
      } else if (time < 120) {
        return "deep-orange darken-1";
      } else {
        return "red darken-2";
      }
    }
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    this.getOrders();
  },
};
</script>

<style lang="scss">
.rounded-field {
  border-radius: 16px !important;
}
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
.timer {
  position: absolute;
  top: 16px;
  right: 16px;
  .v-chip__content {
    font-size: 12px;
  }
}
</style>
