<template>
  <div class="orders pa-3 pt-4">
    <v-select
      label="Filtrar por"
      filled
      rounded
      dense
      :items="categories"
      v-model="filterBy"
      hide-details
      class="mb-2"
    ></v-select>
    <v-text-field
      required
      filled
      rounded
      placeholder="¿Buscar producto?"
      clearable
      prepend-inner-icon="mdi-magnify"
      hide-details
      class="mb-3 rounded-field"
      dense
      v-model="searchStr"
    ></v-text-field>

    <div class="products">      
        <SingleProduct
          v-for="product in getFilterProducts"
          :key="product.key"
          :product="product"
          :onclick="openDetails"
        ></SingleProduct>      
    </div>
    <NewProduct ref="newDialog" :onClose="getProducts"></NewProduct>
    <v-btn
      color="primary"
      dark
      bottom
      right
      fab
      fixed
      class="mb-12"
      style="bottom: 30px !important"
      @click="$refs.newDialog.openDialog()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <ProductDetailsDialog ref="productDetails" :onClose="getProducts"></ProductDetailsDialog>
   
  </div>
</template>

<script>
import "@/assets/scss/product.scss";
import { getBusinessCategories } from "@/firebase/users";
import { getUserProducts } from "@/firebase/products";
import NewProduct from "@/components/Home/Business/Dialogs/NewProduct.vue";
import SingleProduct from "@/components/Products/SingleItem.vue";
import ProductDetailsDialog from "@/components/Home/Business/Dialogs/ProductDetails.vue"


export default {
  name: "Productos",
  components: { NewProduct, SingleProduct, ProductDetailsDialog },
  data: () => ({
    categories: [],
    filterBy: "Todo",
    products: [],
    searchStr: "",    
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2FIAPlORcD7TOyTjP6oPoWLLiFdXP2%2F",
  }),
  methods: {
    openDetails(p) {
      this.$refs.productDetails.openDetails(p)
    },
    async getCategories() {
      try {
        const response = await getBusinessCategories(this.$cookies.get("uid"));
        this.categories = ["Todo"];
        for (const item of response) {
          if (item) {
            this.categories.push(item);
          }
        }
      } catch (err) {
        this.categories = [];
      }
    },
    async getProducts() {
      try {
        const response = await getUserProducts(this.$cookies.get("uid"));
        if (response.val()) {
          this.products = Object.entries(response.val()).map((e) =>
            Object.assign(e[1], { key: e[0] })
          );
        }
      } catch (err) {
        this.products = [];
      }
    },
    filterObject(obj, filter, filterValue) {
      Object.keys(obj).reduce(
        (acc, val) =>
          obj[val][filter] === filterValue
            ? acc
            : {
                ...acc,
                [val]: obj[val],
              },
        {}
      );
    },
    filterByCategory(list) {
      if (this.filterBy != "Todo") {
        list = list.filter((item) => item.category.indexOf(this.filterBy) != -1 );
      }
      return list;
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    this.getCategories();
    this.getProducts();
    
  },
  computed: {
    getFilterProducts: function() {
      let result = [];
      result = this.filterByCategory(this.products);
      
      result = result.filter(item => item.name.toLocaleLowerCase().indexOf(this.searchStr.toLocaleLowerCase()) != -1 )

      return result;
    },
  },
};
</script>

<style lang="scss">
.rounded-field {
  border-radius: 16px !important;
}



</style>
