<template>
  <div class="statistics pa-3 pt-4">
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <h2 class="mb-2">Mis Servicios</h2>

    <v-card color="green darken-1" dark>
      <v-card-title> Prueba Gratuita de 3 meses </v-card-title>
      <v-card-text style="font-size:16px">
        Esta membresía es valida hasta <strong>Noviembre</strong>
        del 2021.<br>
        Incluye:<br>
        <ul>
          <li>Acceso completo a la aplicación Mi Local GT.</li>
          <li>Publicación ilimitada de productos.</li>
          <li>Soporte gratuito para montar tu tienda.</li>
          <li>Estadísticas y control de ganaciancias.</li>
          <li>Notificaciones en vivo de pedidos.</li>
        </ul>
  
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Services",
  data: () => ({
    loading: false,
  }),
  methods: {},
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
  },
};
</script>

<style lang="scss" scoped>
.rounded-field {
  border-radius: 16px !important;
}
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
</style>
