<template>
  <div class="business pa-3">
    <v-list subheader three-line>
      <v-list-item>
        <v-list-item-content>
          <v-form @submit.prevent="saveBusinessInfo()">
            <v-img width="150" class="mx-auto mb-5" :src="logo"></v-img>

            <v-file-input
              accept="image/*"
              filled
              rounded
              dense
              label="Logotipo"
              v-model="logoField"
              @change="updateLogo()"
              hint="Este logo es el que tus clientes veran en Mi Colonia"
              persistent-hint
            ></v-file-input>

            <v-img width="150" class="mx-auto mb-5" :src="banner"></v-img>

            <v-file-input
              accept="image/*"
              filled
              rounded
              dense
              label="Banner"
              v-model="bannerField"
              @change="updateBanner()"
              hint="Aparecera en los listados grandes y tu página de negocio"
              persistent-hint
            ></v-file-input>

            <v-row>
              <v-col cols="2" xs="2" md="2" class="text-center">
                <div class="color-view" :style="'background-color: ' + color + ';'"></div>
              </v-col>
              <v-col cols="10" xs="10" md="10">
                <v-text-field
                  label="Color de tu tienda"
                  filled
                  rounded
                  dense
                  v-model="color"
                  class="mt-2"
                  readonly
                  @click="openColorPicker()"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-list-item-title class="mb-4">
              <h3>Información</h3>
            </v-list-item-title>
            <v-text-field
              label="Nombre comercial"
              filled
              rounded
              dense
              v-model="name"
            ></v-text-field>
            <v-text-field
              label="Correo de contacto"
              filled
              rounded
              dense
              v-model="email"
            ></v-text-field>
            <v-text-field
              label="Teléfono de contacto"
              filled
              rounded
              dense
              v-model="phone"
            ></v-text-field>
            <v-select
              label="Categoría del negocio"
              filled
              rounded
              dense
              :items="categoriesList"
              v-model="category"
              hint="Categoría general de tu negocio. A que te dedicas?"
              persistent-hint
              class="mb-4"
            ></v-select>
            <v-text-field
              label="Palabras clave"
              filled
              rounded
              dense
              v-model="keywords"
              persistent-hint
              hint="Sirve para que los clientes puedan encontrarte usando estas palabras."
              class="mb-4"
            ></v-text-field>
            <v-text-field
              label="Tiempos de entrega"
              filled
              rounded
              dense
              v-model="deliveryTime"
              persistent-hint
              hint="Especifica un tiempo de entrega segun tu experiencia en el negocio, sumale tiempo de envio"
              class="mb-4"
            ></v-text-field>
            <v-btn
              type="submit"
              rounded
              color="primary"
              block
              elevation="0"
              large
              >Guardar</v-btn
            >
          </v-form>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-dialog v-model="dialgoNew" persistent>
      <v-card>
        <v-card-title class="text-h5">
          Bienvenido a Mi Colonia
        </v-card-title>
        <v-card-text>
          Felicidades por formar parte de la economía en
          <strong>Zona 13, Guatemala</strong>, esperamos que tu negocio crezca
          en compañia de tus negocios locales vecinos y cumplas tus metas.
          <br /><br />
          Es necesario que como primer paso... completes los datos de tu
          negocio, de esta forma tus clientes podran identificarte.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialgoNew = false">
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogColor" persistent>
      <v-card>
        <v-card-title class="text-h5">
          Elige un color
        </v-card-title>
        <v-card-text>
          <v-color-picker
            class="ma-2"
            mode="rgba"
            hide-inputs
            v-model="color"
          ></v-color-picker>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialogColor = false">
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      bottom
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </div>
</template>

<script>
import { getAllCategories } from "@/firebase/categories";
import { updateBusinessInfo, getBusinessInfo } from "@/firebase/users";
import { uploadFile } from "@/firebase/storage";
import { getUserDB } from "@/firebase/auth";
import { updateSettingsFireStore } from '@/firebase/usersFirestore'
export default {
  name: "BusinessSettings",
  data: () => ({
    dialgoNew: false,
    dialogColor: false,
    categoriesList: [],
    overlay: false,
    baseLogoUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Flogos%2F",
    baseBannerUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
    // Fields
    logoField: null,
    logo: null,
    logoname: null,
    bannerField: null,
    banner: null,
    bannerName: null,
    name: "",
    email: "",
    phone: "",
    category: "",
    keywords: "",
    color: "",
    deliveryTime: "",
    snackbar: false,
    snackColor: "success",
    snackText: "",
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    async getCategories() {
      try {
        const response = await getAllCategories();
        this.categoriesList = [];

        for (const key in response) {
          const item = response[key];
          this.categoriesList.push({
            text: item.name,
            value: key,
          });
        }
      } catch (err) {
        this.categoriesList = err;
      }
    },
    async saveBusinessInfo() {
      this.overlay = true;
      try {
        var extensionLogo = "",
          extensionBanner = "";
        if (this.logoField) {
          await uploadFile(
            this.logoField,
            this.$store.getters.user.uid,
            "users/logos"
          );
          extensionLogo = this.logoField.name.split(".").pop();
        }

        if (this.bannerField) {
          await uploadFile(
            this.bannerField,
            this.$store.getters.user.uid,
            "users/banners"
          );
          extensionBanner = this.bannerField.name.split(".").pop();
        }
        let saveBanner = this.bannerField
            ? this.$store.getters.user.uid + "." + extensionBanner
            : this.bannerName
        await updateBusinessInfo(this.$store.getters.user.uid, {
          logo: this.logoField
            ? this.$store.getters.user.uid + "." + extensionLogo
            : this.logoname,
          banner: saveBanner,
          name: this.name,
          email: this.email,
          phone: this.phone,
          category: this.category,
          keywords: this.keywords,
          deliveryTime: this.deliveryTime,
          color: this.color.substring(0, this.color.length - 2),
        });
        let catText = ''
        for(const cat of this.categoriesList) {
          console.log(cat)
          if(cat.value == this.category) {
            catText = cat.text
          }
        }

        updateSettingsFireStore(this.$store.getters.user.uid, this.name, catText, this.keywords, saveBanner, this.deliveryTime, 5)

        const userdb = await getUserDB(this.$store.getters.user.uid);
        localStorage.setItem("userinfo", JSON.stringify(userdb));
        this.$store.dispatch("setRole", userdb.role);
        this.$store.dispatch("setUserInfo", userdb);
        this.$store.dispatch("setLogged", true);
        this.$cookies.set("business_init", false);

        this.overlay = false;
        this.showSnackbar("Información actualizada");
        this.$router.push("/business");
      } catch (err) {
        console.log("Error updating business info", err);
        this.showSnackbar("Ocurrio un error");
        this.overlay = false;
      }
    },
    async getData() {
      try {
        const result = await getBusinessInfo(this.$cookies.get("uid"));
        this.name = result.name;
        this.logo = this.baseLogoUrl + result.logo + "?alt=media";
        this.logoname = result.logo;
        this.email = result.email;
        this.phone = result.phone;
        this.category = result.category;
        this.keywords = result.keywords;
        this.banner = this.baseBannerUrl + result.banner + "?alt=media";
        this.bannerName = result.banner;
        this.deliveryTime = result.deliveryTime;
        this.color = result.color;
        console.log(this.logo);
      } catch (err) {
        console.log("No business info", err);
        this.color = this.$vuetify.theme.themes.light.primary
      }
    },
    updateLogo() {
      if (this.logoField) {
        this.logo = URL.createObjectURL(this.logoField);
      }
    },
    updateBanner() {
      if (this.bannerField) {
        this.banner = URL.createObjectURL(this.bannerField);
      }
    },
    openColorPicker() {
      this.dialogColor = true;
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    setTimeout(() => {
      if (!this.$store.getters.user.business) {
        this.dialgoNew = true;
      }
    }, 1000);
    this.getCategories();
    this.getData();
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
.color-view {
  height: 32px;
  border-radius: 50%;
  display: block;
  width: 32px;
  margin: auto;
  margin-top: 20px;
}
</style>
