<template>
  <div class="statistics pa-3 pt-4">
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <h2 class="mb-2">Estadísticas</h2>

    <v-row>
      <v-col cols="6">
        <v-card color="primary" dark>
          <v-card-title class="d-block">
            <div class="text-caption">Ganancias Mensuales</div>
            <v-divider class="mb-3 mt-1"></v-divider>
            <div class="text-center">GTQ 0.00</div>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card color="accent" dark>
          <v-card-title class="d-block">
            <div class="text-caption"># de Ordenes</div>
            <v-divider class="mb-3 mt-1"></v-divider>
            <div class="text-center">5</div>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-card color="secondary" class="mt-4">
      <v-card-text>
        <v-card-title>
            Ganancias Semanales
         </v-card-title>
        <v-sparkline
          :value="value"
          :labels="chart.labels"
          color="black"
          height="100"
          padding="16"
          stroke-linecap="round"
          smooth
          label-size="16"  
           auto-draw        
        >
        </v-sparkline>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Statistics",
  data: () => ({
    loading: false,
    value: [423, 446, 675, 510, 590, 610, 760],
    chart: {
      labels: ["Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
    },
  }),
  methods: {},
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
  },
};
</script>

<style lang="scss" scoped>
.rounded-field {
  border-radius: 16px !important;
}
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
</style>
