<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-app-bar fixed color="primary" dark elevation="0">
          <v-btn icon @click="closeAdress()">
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <v-toolbar-title>Direcciones</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="white" outlined @click="$refs.newAddress.openNewAddress(addresses)">
            <v-icon>mdi-plus</v-icon>
            Nueva
          </v-btn>
        </v-app-bar>

        <div class="address-list pa-4 mt-12 pt-7">
          <v-alert color="grey" type="info" outlined v-if="addresses.length == 0">
            No tienes direcciones <v-btn color="primary" class="mt-5" text @click="$refs.newAddress.openNewAddress(addresses)"><v-icon>mdi-plus</v-icon> CREAR UNA DIRECCION</v-btn>
          </v-alert>
          <v-card
            elevation="2"
            class="mb-3"
            v-for="(address, index) of addresses"
            :key="index"
            @click="setShipAddress(address)"
          >
            <v-card-title
              class="mb-0 pb-0 d-flex align-center justify-space-between"
            >
              <span class="text-caption">{{address.name}}</span>
              <v-icon :color="address.primary ? 'yellow darken-3' : 'grey'" size="30" @click.stop="setPrimary(index)">mdi-star</v-icon>
            </v-card-title>
            <v-card-text>
              <h4>{{address.address}}</h4>
            </v-card-text>
          </v-card>
        </div>
      </v-card>
    </v-dialog>
    <NewAddress ref="newAddress"></NewAddress>
  </v-row>
</template>

<script>
import { getClientAddresses } from "@/firebase/clientAddress";
import dialogMixin from "vue-dialog-mixin";
import NewAddress from '../components/Store/NewAddress.vue'
import { updateAdresses } from "@/firebase/clientAddress";
export default {
  name: "Addresses",
  mixins: [dialogMixin],
  props: ["backTo"],
  components: {NewAddress},
  data: () => ({
    dialog: false,
    addresses: [],
  }),
  mounted() {
    
    
  },
  methods: {
    async setPrimary(index) {
      for(const item of this.addresses) {
        item.primary = false
      }
      this.addresses[index].primary = true
      await updateAdresses(this.$cookies.get("uid"), this.addresses);
    },
    openAddressess() {
      this.getUserInfo();
      this.$store.dispatch("enableToolbar", false);
      this.showDialog();
    },
    closeAdress() {
      this.$store.dispatch("enableToolbar", true);
      this.closeDialog();
    },
    setShipAddress(address) {
      this.$store.dispatch("setShipAddress", address)
      this.$store.dispatch("enableToolbar", true);
      this.closeDialog()
    },
    async getUserInfo() {
      try {
        const response = await getClientAddresses(this.$cookies.get("uid"));
        if (response.val()) {
          this.addresses = response.val().reverse();
        } else {
          this.addresses = [];
        }
      } catch (err) {
        this.addresses = [];
      }
    },
  },

  destroyed() {
    this.$store.dispatch("enableToolbar", true);
  },
};
</script>

<style></style>
