<template>
  <div class="business">
    <v-app-bar
      absolute
      color="primary"
      dark
      shrink-on-scroll
      prominent
      :src="getBanner"
      fade-img-on-scroll
      scroll-target="#scrolling-techniques-3"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(0,0,0,.7), rgba(0,0,0,.7)"
        ></v-img>
      </template>

      <v-btn icon @click="$router.back()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>
        {{ userData.name }}
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn text @click="openCart()">
        <v-icon class="mr-2">mdi-cart</v-icon>
        <span v-text="$store.getters.cartTotals">0.00</span>
      </v-btn>

      <template v-slot:extension>
        <v-tabs right :show-arrows="false" grow>
          <v-tab><v-icon class="mr-2">mdi-magnify</v-icon> BUSCAR </v-tab>
          <v-tab
            v-for="(item, index) of categories"
            :key="index"
            @click="goToCategory(item)"
            >{{ item }}</v-tab
          >
        </v-tabs>
      </template>
    </v-app-bar>

    <v-sheet
      id="scrolling-techniques-3"
      class="overflow-y-auto"
      max-height="93vh"
      ref="scrollcontainer"
    >
      <div class="products px-4">
        <v-card class="information">
          <v-card-text>
            <span class="">
              Tiempo de entrega:
              <strong>{{ userData.deliveryTime }}</strong> </span
            ><br />
            <span class="">
              <v-icon size="18" color="yellow darken-2" style="margin-top: -3px"
                >mdi-star</v-icon
              >
              <strong>{{ratingData.starCount}} / 5</strong> ({{ allBusinessData.ratingSize ? allBusinessData.ratingSize : 0 }} opiniones)
            </span>
          </v-card-text>
        </v-card>

        <v-alert
          elevation="2"
          type="info"
          outlined
          v-if="products.length == 0 && loading == false"
          class="mt-2"
        >
          Esta tienda no tiene productos disponibles
        </v-alert>

        <template v-for="category in categories">
          <h3
            class="mt-2 px-2 mb-1 primary--text"
            style="background: whitesmoke"
            :key="category + '_title'"
            :id="category"
            :ref="category"
          >
            {{ category }}
          </h3>
          <v-alert
            class="py-1"
            color="white grey--text"
            small
            :key="category"
            flat
            v-if="getProductsByCategory(category).length == 0"
          >
            No hay resultados
          </v-alert>
          <SingleProduct
            v-for="(product, index) of getProductsByCategory(category)"
            :key="index + category"
            :product="product"
            :onclick="openProductDetails"
          ></SingleProduct>
        </template>
      </div>
    </v-sheet>

    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <ProductDetails
      :product="activeProduct"
      ref="productDetails"
      :store="userData"
      :onClose="onCloseDetails"
      :storeID="$route.params.id"
    ></ProductDetails>

    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      bottom
      class="mt-12"
      :color="snackColor"
      timeout="1500"
    >
      {{ snackText }}
    </v-snackbar>

    <v-btn
      color="primary"
      fixed
      class="btn-cart-floating mx-auto"
      block
      elevation="5"
      v-if="$store.getters.cart.length > 0"
      @click="openCart()"
      large
    >
      <v-icon class="mr-2">mdi-cart</v-icon>
      Ver Carrito
      <span class="ml-3" v-text="'GTQ ' + $store.getters.cartTotals"
        >0.00</span
      ></v-btn
    >
  </div>
</template>

<script>
import { getClientInfo, getBusinessCategories } from "@/firebase/users";
import { getUserProducts } from "@/firebase/products";
import SingleProduct from "@/components/Products/SingleItem.vue";
import ProductDetails from "@/components/Store/ProductDetails.vue";
import { getStoreRating } from "@/firebase/ratings";
export default {
  name: "BusinessMain",
  components: { SingleProduct, ProductDetails },
  data: () => ({
    model: 0,
    loading: true,
    userData: {
      name: "",
    },
    allBusinessData: {
      ratingSize: 0
    },
    ratingData: {
      starCount: 5
    },
    products: [],
    categories: [],
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
    snackbar: false,
    snackColor: "success",
    snackText: "",
    // Filter
    activeCategory: "Todo",
    backupPrimary: "",
    activeProduct: {},
  }),
  methods: {
    openCart() {
      this.$store.dispatch("cartStatus", true);
      console.log(this.$store.getters.getCartDetails);
    },
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    onCloseDetails() {},
    openProductDetails(product) {
      console.log("View details");
      this.activeProduct = product;
      this.$refs.productDetails.openDetails();
    },
    goToCategory(item) {
      this.activeCategory = item;

      this.$refs.scrollcontainer.$el.scrollTo({
        top: this.$refs[item][0].offsetTop - 120,
        behavior: "smooth",
      });
    },
    async getUserData() {
      try {

        
        const response = await getClientInfo(this.$route.params.id);
        this.allBusinessData = response.val()
        this.userData = response.val().business;
        console.log("UDATA", this.allBusinessData);


        const ratingResponse = await getStoreRating(this.$route.params.id)
        if(ratingResponse.exists()) {
          console.log("RSTORE",ratingResponse.data())
          this.ratingData = ratingResponse.data()
        }        


        if (this.userData.color && this.userData.color != "") {
          if (/^#[0-9A-F]{6}$/i.test(this.userData.color)) {
            this.$vuetify.theme.themes.light.primary = this.userData.color;
            var metaThemeColor = document.querySelector(
              "meta[name=theme-color]"
            );
            metaThemeColor.setAttribute("content", this.userData.color);
          }
        }
      } catch (err) {
        console.log(err)
        this.userData = null;
      }
    },
    async getProducts() {
      try {
        const response = await getUserProducts(this.$route.params.id);
        if (response.val()) {
          this.products = Object.entries(response.val()).map((e) =>
            Object.assign(e[1], { key: e[0] })
          );
        }
        this.loading = false;
      } catch (err) {
        this.products = [];
        console.log(err);
      }
    },
    async getCategories() {
      try {
        const response = await getBusinessCategories(this.$route.params.id);
        this.categories = [];
        for (const item of response) {
          if (item) {
            this.categories.push(item);
          }
        }
      } catch (err) {
        this.categories = [];
      }
    },
    getProductsByCategory(category) {
      const result = [];
      for (const key in this.products) {
        const product = this.products[key];
        if (product.category == category) {
          result[key] = product;
        }
      }
      return result;
    },
  },
  mounted() {
    this.$store.dispatch("enableToolbar", false);
    this.backupPrimary = this.$vuetify.theme.themes.light.primary;
    this.getUserData();
    this.getProducts();
    this.getCategories();
  },
  destroyed() {
    this.$store.dispatch("enableToolbar", true);
    console.log(this.backupPrimary);
    this.$vuetify.theme.themes.light.primary = this.backupPrimary;
    var metaThemeColor = document.querySelector("meta[name=theme-color]");
    metaThemeColor.setAttribute("content", this.backupPrimary);
  },
  computed: {
    getBanner() {
      if (this.userData) {
        return this.baseBannerURL + this.userData.banner + "?alt=media";
      }
      return this.baseBannerURL + this.$route.params.id + "?alt=media";
    },
  },
};
</script>

<style lang="scss">
.products {
  padding-top: 240px;
}
.btn-cart-floating {
  bottom: 65px;
  z-index: 9;
  min-width: 90% !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}
</style>
