<template>
  <div class="pt-5" style="height:100%">   
    <h2 class="text-center mb-4 primary--text">{{ category.name }}</h2>
    <v-sheet      
      class="overflow-y-auto"
      max-height="72vh"      
    >
      <div class="business mx-4">
        <v-alert type="info" outlined v-if="business.length == 0">
          Sin resultados
        </v-alert>
        <SingleBusiness
          v-for="item of business"
          :key="item.uid"
          :item="item"
          v-show="!loading"
        ></SingleBusiness>
        <div class="loading mx-auto text-center py-5" v-if="loading">
          <v-progress-circular
            indeterminate
            size="30"
            color="accent"
          ></v-progress-circular>
          <h4>Cargando</h4>
        </div>
      </div>
    </v-sheet>
  </div>
</template>

<script>
import { getCategoryInfo } from "@/firebase/categories";
import { getBusinessByCategory } from "@/firebase/users";
import SingleBusiness from "@/components/Home/Business/SingleBusiness.vue";
export default {
  name: "Category",
  components: { SingleBusiness },
  data: () => ({
    loading: true,
    category: {
      color: "",
      description: "",
      name: "",
      thumbnail: "",
    },
    business: [],
  }),
  methods: {
    async getInfo() {
      try {
        const response = await getCategoryInfo(this.$route.params.id);
        this.category = response.val();
      } catch (err) {
        console.log("Errr getting data", err);
      }
    },
    async getProducts() {
      try {
        this.loading = true;
        const response = await getBusinessByCategory(this.$route.params.id);

        if (response.val()) {
          this.business = response.val();
          console.log(this.business);
        }
        this.loading = false;
      } catch (err) {
        this.business = [];
        this.loading = false;
        console.log("Error getting products", err);
      }
    },
  },
  mounted() {
    //this.$store.dispatch("enableToolbar", false);
    this.getInfo();
    this.getProducts();
  },
  destroyed() {
    this.$store.dispatch("enableToolbar", true);
  },
};
</script>