<template>
  <div class="home pa-3 pt-4">
    <v-text-field
      required
      filled
      rounded
      placeholder="¿Qué estás buscando hoy?"
      clearable
      prepend-inner-icon="mdi-magnify"
      hide-details
      class="mb-3 rounded-field"
      dense
      @click.prevent="$router.push('/search')"
    ></v-text-field>

    <ActiveOrderComponent></ActiveOrderComponent>
    
    <SliderComponent></SliderComponent>    

    <h3 class="mt-6 font-weight-regular">Por Categoría</h3>

    <CategoriesComponent></CategoriesComponent>

    <h3 class="mt-6 mb-3 font-weight-regular">Recomendados</h3>

    <RecomendationsComponent></RecomendationsComponent>



  </div>
</template>

<script>
import SliderComponent from "../components/Home/Clients/Slider.vue";
import CategoriesComponent from '../components/Home/Clients/Categories.vue'
import RecomendationsComponent from '../components/Home/Clients/Recomendations.vue'
import ActiveOrderComponent from '../components/Store/ActiveOrder.vue'
export default {
  name: "Home",
  components: {
    SliderComponent,
    CategoriesComponent,
    RecomendationsComponent,
    ActiveOrderComponent
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false)
  }
};
</script>

<style lang="scss" scoped>
    .rounded-field {
        border-radius: 16px !important;
    }
</style>
