<template>
  <div class="full-height primary d-flex align-center justify-center">
    <div style="width: 80%">
      <h1 class="white--text text-center mb-12 pb-5">
        <v-img
          src="../assets/icon.png"
          alt="Mi Colonia"
          max-width="200"
          class="mx-auto"
        ></v-img>
        <h4 class="mt-5">Mi Local Gt</h4>
      </h1>
      <v-btn
        color="#0570E6"
        rounded
        dark
        block
        large
        elevation="0"
        class="mb-2"
        @click="openFacebook()"
        v-if="false"
        >INGRESAR CON <v-icon class="ml-5">mdi-facebook</v-icon></v-btn
      >
      <v-btn
        color="white"
        block
        rounded
        large
        elevation="0"
        class="mb-2"
        @click="openGoogle()"
        v-if="false"
        >INGRESAR CON <v-icon class="ml-5">mdi-google</v-icon></v-btn
      >
      <v-btn
        color="#0570E6"
        block
        dark
        x-large
        rounded
        elevation="0"
        @click="$refs.emailDialog.openDialog()"        
        > INGRESAR CON CORREO <v-icon class="ml-5">mdi-email</v-icon></v-btn
      >
      <AuthEmailLogin
        ref="emailDialog"
        :createAccountClick="openCreateEmailAccount"
      ></AuthEmailLogin>
      <AuthEmailRegister
        ref="emailRDialog"
        :loginAccountClick="openLoginEmailAccount"
      ></AuthEmailRegister>
    </div>
  </div>
</template>

<script>
import {
  GoogleAuthProvider,
  getAuth,
  signInWithPopup,
  FacebookAuthProvider,
} from "firebase/auth";

import { updateUserToDB, getUserDB } from "../firebase/auth";

import AuthEmailLogin from "../components/Auth/EmailLogin.vue";
import AuthEmailRegister from "../components/Auth/EmailRegister.vue";
import { createOrUpdateUser } from "../firebase/usersFirestore";

export default {
  name: "Login",
  components: { AuthEmailLogin, AuthEmailRegister },
  data: () => ({
    googleProvider: false,
    facebookProvider: false,
  }),
  methods: {
    openCreateEmailAccount() {
      this.$refs.emailRDialog.openDialog();
    },
    openLoginEmailAccount() {
      this.$refs.emailDialog.openDialog();
    },
    async openGoogle() {
      try {
        const auth = getAuth();
        const result = await signInWithPopup(auth, this.googleProvider);
        const user = result.user;
        await updateUserToDB(user, "client");

        const userdb = await getUserDB(user.uid);
        localStorage.setItem("userinfo", JSON.stringify(userdb));
        this.$store.dispatch("setRole", userdb.role);

        this.$cookies.set("role", userdb.role);
        this.$cookies.set("uid", user.uid);
        if (!userdb.business) {
          this.$cookies.set("business_init", true);
        } else {
          this.$cookies.set("business_init", false);
        }

        if (userdb.role == "client") {
          this.$router.push("/home");
        } else if (userdb.role == "business") {
          await createOrUpdateUser(
            user.uid,
            userdb.business.name,
            userdb.business.keywords,
            userdb.creation_date
          );
          this.$router.push("/business/orders");
        } else if (userdb.role == "admin") {
          this.$router.push("/admin");
        } else {
          this.$router.push("/home");
        }
      } catch (err) {
        console.log("Error on Loggin Google", err);
      }
    },
    async openFacebook() {
      try {
        const auth = getAuth();
        const result = await signInWithPopup(auth, this.facebookProvider);

        const user = result.user;
        await updateUserToDB(user, "client");

        const userdb = await getUserDB(user.uid);
        localStorage.setItem("userinfo", JSON.stringify(userdb));
        this.$store.dispatch("setRole", userdb.role);

        this.$cookies.set("role", userdb.role);
        this.$cookies.set("uid", user.uid);
        if (!userdb.business) {
          this.$cookies.set("business_init", true);
        } else {
          this.$cookies.set("business_init", false);
        }

        if (userdb.role == "client") {
          this.$router.push("/home");
        } else if (userdb.role == "business") {
          await createOrUpdateUser(
            user.uid,
            userdb.business.name,
            userdb.business.keywords,
            userdb.creation_date
          );
          this.$router.push("/business/orders");
        } else if (userdb.role == "admin") {
          this.$router.push("/admin");
        } else {
          this.$router.push("/home");
        }
      } catch (err) {
        console.log("Error on Loggin Facebook", err);
      }
    },
  },
  mounted() {
    this.googleProvider = new GoogleAuthProvider();
    this.googleProvider.addScope(
      "https://www.googleapis.com/auth/contacts.readonly"
    );
    this.facebookProvider = new FacebookAuthProvider();
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
</style>
