<template>
  <div class="orders pa-3 pt-8">
    <v-img
      :src="logo ? logo : '../assets/user_placeholder.png'"
      max-width="100"
      class="mx-auto"
    ></v-img>
    <h2 class="text-center mt-5">{{ name }}</h2>

    <v-card class="mt-2" outlined v-if="false">
      <v-card-title
        class="text-center d-flex align-center justify-space-between"
      >
        Puntuación
        <v-rating
          v-model="rating"
          color="yellow darken-3"
          background-color="grey darken-1"
          empty-icon="$ratingFull"
          half-increments
          hover
          dense
          readonly
        ></v-rating>
      </v-card-title>
    </v-card>

    <v-btn
      color="primary"
      class="text-center d-flex align-center justify-space-between mt-4"
      block
      x-large
      outlined
      @click="$refs.dialogAdress.openAddressess()"
    >
      Mis Direcciones
      <v-btn icon color="primary">
        <v-icon>mdi-map-marker</v-icon>
      </v-btn>
    </v-btn>

    <v-form class="mt-7">
      <v-text-field
        label="Nombre completo"
        required
        outlined
        v-model="name"
      ></v-text-field>
      <v-text-field
        label="Correo Electrónico"
        required
        outlined
        type="email"
        readonly
        v-model="email"
      ></v-text-field>

      <v-text-field
        label="Número de teléfono"
        required
        outlined
        type="tel"
        v-model="phone"
      ></v-text-field>

      <v-btn color="primary" block rounded large @click="updateUser()">
        Actualizar Información
      </v-btn>
    </v-form>

    <v-btn color="black" block class="mt-10" dark @click="logout()">
      Cerrar Sesión
    </v-btn>

    <AddressesDialog ref="dialogAdress"></AddressesDialog>

    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      bottom
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </div>
</template>

<script>
import { getAuth, onAuthStateChanged, signOut } from "firebase/auth";
import { updataInfo, getUserDB } from "../firebase/auth";
import AddressesDialog from "@/views/Addresses.vue";
import { updateUserEntry } from "@/firebase/users";
export default {
  name: "MyAccount",
  components: { AddressesDialog },
  data: () => ({
    rating: 4,
    name: "",
    email: "",
    phone: "",
    logo: false,
    snackbar: false,
    snackColor: "success",
    snackText: "",
    userInfo: false
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    logout() {
      const auth = getAuth();
      signOut(auth)
        .then(() => {
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove("role");
          this.$cookies.remove("uid");
          this.$store.dispatch("emptyCart");
          this.$router.push("/");
        })
        .catch((error) => {
          console.log("Error in logout", error);
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove("role");
          this.$cookies.remove("uid");
          this.$store.dispatch("emptyCart");
          this.$router.push("/");
        });
    },
    async updateUser() {
      try {
        await updataInfo(this.name, this.phone);
        await updateUserEntry(this.$cookies.get("uid"), "phone", this.phone);
        await updateUserEntry(this.$cookies.get("uid"), "name", this.name);        
        
        this.userInfo["phone"] = this.phone;
        this.$store.dispatch("setUserInfo", this.userInfo);
        console.log("Updated", this.userInfo);
        this.showSnackbar("Información actualizada", "success");
      } catch (err) {
        console.log("Update Error", err);
        this.showSnackbar("Ocurrio un error", "error");
      }
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    const user = this.$store.getters.user;
    console.log(user);
    const auth = getAuth();
    onAuthStateChanged(auth, (user) => {
      if (user) {
        getUserDB(user.uid).then((userdb) => {
          this.name = userdb.name;
          this.email = userdb.email;
          this.logo = userdb.photo;
          this.phone = userdb.phone;
          this.userInfo = userdb
        });
      }
    });
  },
};
</script>
