<template>
  <div class="order pa-3 pt-4">
    <v-card>
      <v-img :src="getBanner" height="125" cover></v-img>
    </v-card>

    <v-card class="information  mt-3">
      <v-card-title>Estado de la orden</v-card-title>
      <v-card-text class="mt-2 pb-12">
       <v-row>
          <v-col cols="3" class="text-center">
            <v-icon size="40" :color="getStatusIconColor(0)"
              >mdi-clock-outline</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(1)" size="40">mdi-stove</v-icon>
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(2)" size="40"
              >mdi-motorbike</v-icon
            >
          </v-col>
          <v-col cols="3" class="text-center">
            <v-icon :color="getStatusIconColor(3)" size="40"
              >mdi-check-circle-outline</v-icon
            >
          </v-col>
        </v-row>
        <v-tooltip bottom v-model="showTooltips">
          <template v-slot:activator="{ on, attrs }">
            <h3 class="text-center mt-5 |--text" v-bind="attrs" v-on="on">
              {{getStatusText(order.status)}}
              <v-icon color="primary" size="15">mdi-alert-circle</v-icon>
            </h3>
          </template>
          <span>
            {{getStatusTooltip(order.status)}}            
          </span>
        </v-tooltip>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text class="black--text">
        <h4 class="mt-3">Pedido</h4>
        <span class="text-lowercase">{{ order.create_date | formatDate }}</span>

        <h4 class="mt-3">Tienda</h4>
        <span>{{ store.name }}</span>

        <h4 class="mt-3">Entregar en</h4>
        <span>{{ order.address.address }}</span>

        <h4 class="mt-3">Metodo de pago</h4>
        <span><v-icon size="20">mdi-cash</v-icon> Efectivo</span>
      </v-card-text>
      <v-divider> </v-divider>
      <v-card-title class="text-caption pb-1">
        ITEMS
      </v-card-title>
      <v-card-text class="black--text">
        <v-list subheader>
          <v-list-item
            v-for="product in order.items"
            :key="product.key"
            class="px-0"
          >
            <v-list-item-avatar tile>
              <v-img
                :alt="product.name"
                :src="getProductThumbnail(product.thumbnail)"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title><strong>{{product.quantity}}</strong> x {{product.name}}</v-list-item-title>
            </v-list-item-content>

            <v-list-item-icon>
              <strong>GTQ {{ parseFloat(parseFloat(product.price) * parseInt(product.quantity)).toFixed(2) }}</strong>
            </v-list-item-icon>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <div class="d-flex align-center justify-space-between mt-5 mb-0">
          <strong>Subtotal</strong>
          <strong>GTQ {{ order.total }}</strong>
        </div>
        <div class="d-flex align-center justify-space-between mt-2 mb-0">
          <strong>Envio</strong>
          <strong>Gratis</strong>
        </div>
        <div class="d-flex align-center justify-space-between mt-2" :class="[(order.cashReturn && order.cashReturn != 'NaN') ? 'mb-0' : 'mb-10']">
          <strong>Total</strong>
          <strong>GTQ {{ order.total }}</strong>
        </div>
        <div class="d-flex align-center justify-space-between mt-2 mb-10" v-if="order.cashReturn && order.cashReturn != 'NaN'">
          <strong>Vuelto</strong>
          <strong>GTQ {{ order.cashReturn }}</strong>
        </div>
        <v-btn color="primary" elevation="0" block>Contactar a Soporte <v-icon class="ml-2">mdi-face-agent</v-icon>  </v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { getOrder } from "@/firebase/orders";
import { getBusinessInfo } from "@/firebase/users";
export default {
  name: "Order",
  data: () => ({
    order_id: "12",
    order: {},
    store: false,
    showTooltips: false,
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
    baseThumbnailUrl:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fproducts%2F",
  }),
  methods: {
    getStatusTooltip(str) {
switch (str) {
        case "requested":
          return "El negocio esta procesando tu pedido";
        case "cook":
          return "El negocio esta preparando tu pedido";
        case "ready":
          return "Tu pedido esta listo para enviar o entregar";
        case "shipped":
          return "Tu pedido se encuentra en camino a tu domicilio";
        case "completed":
          return "Orden entregada, gracias por usar Mi Colonia";
        default:
          return "Tu orden a sido cancelada";
      }
    },
    getStatusIconColor(index) {
      if (index == 0) {
        return "primary lighten-1";
      } else if (index == 1) {
        if (
          this.order.status == "cook" ||
          this.order.status == "ready" ||
          this.order.status == "shipped" ||
          this.order.status == "completed" 
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 2) {
        if (
          this.order.status == "shipped" ||
          this.order.status == "completed"
        ) {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      } else if (index == 3) {
        if (this.order.status == "completed") {
          return "primary lighten-1";
        } else {
          return "grey lighten-1";
        }
      }
    },
    getStatusText(str) {
      switch (str) {
        case "requested":
          return "Pendiente";
        case "cook":
          return "Preparando";
        case "ready":
          return "Lista para recojer";
        case "shipped":
          return "En Camino";
        case "completed":
          return "Completada";
        default:
          return "Cancelada";
      }
    },
    async getData() {
      const response = await getOrder(this.$route.params.id);
      this.order = response.val();
      const response_business = await getBusinessInfo(this.order.storeUid);
      this.store = response_business;
      console.log(this.order, this.store);
    },
    getProductThumbnail(image) {
      return (
        this.baseThumbnailUrl +
        this.order.storeUid +
        "%2F" +
        image +
        "?alt=media"
      );
    },
  },
  computed: {
    getBanner() {
      if (this.store) {
        return this.baseBannerURL + this.store.banner + "?alt=media";
      }
      return "";
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
    this.order_id = this.$route.params.id.toString().substring(1, 8);
    this.getData();
    setTimeout(() => {
      this.showTooltips = true
    }, 1000);
  },
};
</script>
