<template>
  <div class="orders pa-0 pt-4">
    <v-sheet class="overflow-y-auto px-0 mt-2 pb-5" max-height="85vh">
      <v-list three-line subheader v-if="getActiveOrders.length > 0">
        <v-subheader inset>Pedidos Activos</v-subheader>
        <v-template v-for="(order, index) of getActiveOrders" :key="order.key">
          <v-divider v-show="index > 0"></v-divider>
          <v-list-item
            :to="'/order/' + order.key"
            :key="'order_' + order.key"
            style="background: #5586f421"
          >
            <v-list-item-avatar tile width="50">
              <v-img
                :alt="order.business.name"
                :src="getBanner(order.business.banner)"
                width="200"
              ></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ order.business.name }}</v-list-item-title>

              <v-list-item-subtitle>
                Total: GTQ {{ order.total }}<br />
                {{ order.create_date | formatDateSmall }} -
                {{ getStatusText(order.status) }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action
              class="d-flex align-center"
              style="min-height: 55px"
            >
              <v-btn
                small
                color="primary"
                elevation="0"
                :to="'/order/' + order.key"
                class="btn-reorder"
                rounded
              >
                Seguir pedido
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-template>
      </v-list>
      <v-list three-line subheader v-if="getPastOrders.length > 0">
        <v-subheader inset>Pedidos Anteriores</v-subheader>
        <v-template v-for="(order, index) of getPastOrders" :key="order.key">
          <v-divider v-show="index > 0"></v-divider>
          <v-list-item :to="'/order/' + order.key" :key="'order_' + order.key">
            <v-list-item-avatar tile width="50">
              <v-img
                :alt="order.business.name"
                :src="getBanner(order.business.banner)"
                width="200"
              ></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ order.business.name }}</v-list-item-title>

              <v-list-item-subtitle>
                Total: GTQ {{ order.total }}<br />
                {{ order.create_date | formatDateSmall }} -
                {{ getStatusText(order.status) }}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action
              class="d-flex align-center"
              style="min-height: 55px"
            >
              <v-btn
                small
                color="primary"
                elevation="0"
                @click.prevent="reOrder(order)"
                class="btn-reorder"
                rounded
              >
                Volver a pedir
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-template>
      </v-list>
    </v-sheet>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import { getBusinessInfo } from "@/firebase/users";
export default {
  name: "Home",
  data: () => ({
    loading: false,
    orders: [],
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
  }),
  methods: {
    async reOrder(order) {
      this.loading = true      
      const response = await getBusinessInfo(order.storeUid);      
      response["id"] = order.storeUid
      this.$store.dispatch("setCartDetails", response);
      this.$store.dispatch("setCart", order.items);
      this.$store.dispatch("cartStatus", true);
      this.loading = false
    },
    getBanner(name) {
      if (name) {
        return this.baseBannerURL + name + "?alt=media";
      }
      return this.baseBannerURL + this.$route.params.id + "?alt=media";
    },
    getStatusText(str) {
      switch (str) {
        case "requested":
          return "Pendiente";
        case "cook":
          return "Preparando";
        case "ready":
          return "Lista para recojer";
        case "shipped":
          return "En Camino";
        case "completed":
          return "Completada";
        default:
          return "Cancelada";
      }
    },
    isLoading(status) {
      if (
        status == "requested" ||
        status == "cook" ||
        status == "ready" ||
        status == "shipped"
      ) {
        return true;
      }
      return false;
    },
  },
  computed: {
    getActiveOrders() {
      return this.$store.getters.getOrdersList.filter(
        (item) => item.status != "completed" && item.status != "canceled"
      );
    },
    getPastOrders() {
      let orders = this.$store.getters.getOrdersList.filter(
        (item) => item.status == "completed" || item.status == "canceled"
      );
      return orders;
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", false);
  },
};
</script>

<style lang="scss">
.rounded-field {
  border-radius: 16px !important;
}
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
.btn-reorder {
  text-transform: capitalize;
  font-weight: 400;
}
.v-subheader {
  margin-left: 0 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}
</style>
