<template>
  <div class="pre-checkout">
    <v-app-bar fixed color="primary" dark elevation="0">
      <v-btn icon @click="toStore()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title>Pagar pedido</v-toolbar-title>
    </v-app-bar>

    <div class="mt-12 px-4 pt-7">
      <v-card elevation="0" class="grey lighten-3 mb-4">
        <v-card-title class="text-caption pb-1">
          Dirección de envio
        </v-card-title>
        <v-card-text
          class="text-subtitle-1 font-weight-bold mt-0 d-flex align-center justify-space-between"
        >
          <span>
            <small style="text-caption">{{
              $store.getters.getShipAdresss.name
            }}</small
            ><br />
            {{ $store.getters.getShipAdresss.address }}</span
          >
          <v-btn icon @click="$refs.dialogAdress.openAddressess()"
            ><v-icon>mdi-pencil</v-icon></v-btn
          >
        </v-card-text>
      </v-card>
      <v-card elevation="0" class="grey lighten-3 mb-4">
        <v-card-title class="text-caption pb-1">
          Número de contacto
        </v-card-title>
        <v-card-text
          class="text-subtitle-1 font-weight-bold mt-0 d-flex align-center justify-space-between"
        >
          <span v-show="!editPhone">{{ $store.getters.user.phone }}</span>
          <v-text-field
            filled
            v-show="editPhone"
            v-model="order.phone"
            type="tel"
          ></v-text-field>
          <v-btn icon @click="editPhone = !editPhone" v-show="!editPhone"
            ><v-icon>mdi-pencil</v-icon></v-btn
          >
        </v-card-text>
      </v-card>
      <v-card elevation="0" class="grey lighten-3 mb-4">
        <v-card-title class="text-caption pb-1">
          Comentarios Adicionales
        </v-card-title>
        <v-card-text class="text-subtitle-1 font-weight-bold mt-0">
          <v-textarea
            filled
            value=""
            auto-grow
            rows="3"
            v-model="order.notes"
            placeholder="Sin cebolla, etc."
          ></v-textarea>
        </v-card-text>
      </v-card>
      <v-card elevation="0" class="grey lighten-3 mb-4">
        <v-card-title class="text-caption pb-1">
          Método de pago
        </v-card-title>
        <v-card-text class="text-subtitle-1 font-weight-bold mt-0">
          <v-radio-group
            v-model="order.paymentMethod"
            class="d-flex align-center"
          >
            <v-radio
              label="Efectivo contra entrega"
              value="cash"
              readonly
            ></v-radio>
          </v-radio-group>
          <v-text-field
            label="Pagare con"
            type="number"
            filled
            placeholder="50, 100, 200"
            v-model="order.cash"
            hint="Ingresa el monto para preparar vuelto"
            persistent-hint
          ></v-text-field>
        </v-card-text>
      </v-card>

      <div class="d-flex align-center justify-space-between mt-10 mb-0">
        <strong>Subtotal</strong>
        <strong>GTQ {{ $store.getters.cartTotals }}</strong>
      </div>
      <div class="d-flex align-center justify-space-between mt-2 mb-0">
        <strong>Envio</strong>
        <strong>Gratis</strong>
      </div>
      <div class="d-flex align-center justify-space-between mt-2 mb-10">
        <strong>Total</strong>
        <strong>GTQ {{ $store.getters.cartTotals }}</strong>
      </div>

      <v-btn
        color="primary"
        large
        block
        class="mb-2"
        elevation="0"
        @click="confirmOrder()"
        >Realizar Pedido</v-btn
      >

      <v-btn
        color="primary"
        large
        block
        class="mb-7"
        text
        elevation="0"
        @click="toStore()"
        >Continuar comprando</v-btn
      >
    </div>
    <AddressesDialog backTo="cart" ref="dialogAdress"></AddressesDialog>

    <v-dialog
      transition="dialog-bottom-transition"
      max-width="600"
      v-model="dialogLoader"
    >
      <v-card>
        <v-card-text class="py-10">
          <v-row class="fill-height" align-content="center" justify="center">
            <v-col class="text-subtitle-1 text-center" cols="12">
              Creando pedido, espera por favor
            </v-col>
            <v-col cols="6">
              <v-progress-linear
                color="primary"
                indeterminate
                rounded
                height="6"
              ></v-progress-linear>
            </v-col>
          </v-row>
          <div class="text-center">
            <v-btn
              color="red darken-4"
              text
              dark
              class="mt-10"
              rounded
              elevation="0"
              x-small
              @click="confirmOrderVar = false"
              >Cancelar Pedido</v-btn
            >
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AddressesDialog from "@/views/Addresses.vue";
import { getUserDB } from "@/firebase/auth";
import { newOrder } from "@/firebase/orders";
import { getBusinessInfo } from "@/firebase/users";

export default {
  name: "PreCheckout",
  components: { AddressesDialog },
  data: () => ({
    editPhone: false,
    order: {
      rated: false,
      uid: "",
      storeUid: "",
      phone: "",
      notes: "",
      cash: false,
      cashReturn: 0,
      total: 0,
      subtotal: 0,
      shipping: 0,
      paymentMethod: "cash",
      items: [],
      address: "",
      create_date: "",
      status: "",      
      business: {
        name: '',        
        banner: '',
        phone: ''
      }
    },
    dialogLoader: false,
    confirmOrderVar: true,
  }),
  mounted() {
    this.$store.dispatch("enableToolbar", false);
    if (this.$store.getters.cart.length == 0) {
      this.$router.push("/");
    }
    getUserDB(this.$cookies.get("uid")).then((userdb) => {
      this.order.phone = userdb.phone;
      let addresses = userdb.addresses;
      if (addresses.length > 0) {
        addresses = addresses.reverse();
        let primary = false;
        for (const item of addresses) {
          if (item.primary) {
            primary = item;
          }
        }
        if (primary) {
          this.$store.dispatch("setShipAddress", primary);
        } else {
          this.$store.dispatch("setShipAddress", addresses[0]);
        }
      }
    });
  },
  methods: {
    delay(ms) {
      return new Promise(res => setTimeout(res, ms));
    },
    toStore() {
      this.$router.push("/store/" + this.$store.getters.getCartDetails.id);
    },
    async confirmOrder() {
      this.dialogLoader = true;
      await this.delay(1500)
      if (this.confirmOrderVar) {
console.log("BSUINESS CREATE ORDER", this.$store.getters.getCartDetails)
         const business = await getBusinessInfo(this.$store.getters.getCartDetails.id);         
        
        this.order.business.name = business.name
        this.order.business.banner = business.banner
        this.order.business.phone = business.phone
        this.order.uid = this.$cookies.get("uid")
        this.order.storeUid = this.$store.getters.getCartDetails.id
        this.order.items = this.$store.getters.cart
        this.order.address = this.$store.getters.getShipAdresss
        this.order.create_date = new Date().getTime()
        this.order.status = "requested"
        this.order.shipping = 0
        this.order.total = parseFloat(parseFloat(this.$store.getters.cartTotals) + parseFloat(this.order.shipping)).toFixed(2)
        this.order.subtotal = parseFloat(this.$store.getters.cartTotals)
        this.order.cashReturn = this.order.cash ? parseFloat(parseFloat(this.order.total) - parseFloat(this.cash)).toFixed(2) : false
        if(!this.order.phone) {
          this.order.phone = ''
        }
        this.$store.dispatch("emptyCart");
        const order_id = await newOrder(this.order);        
        this.$router.push("/order/" + order_id)
      } else {
        this.dialogLoader = false;
      }
    },
  },
  destroyed() {
    this.$store.dispatch("enableToolbar", true);
  },
};
</script>

<style></style>
