<template>
  <div class="mt-12 pt-0 px-4">
    <h2 class="text-center mb-4 primary--text">Buscar</h2>
    <div class="search">
      <v-text-field
        required
        filled
        rounded
        placeholder="¿Qué estás buscando hoy?"
        clearable
        prepend-inner-icon="mdi-magnify"
        hide-details
        class="mb-3 rounded-field"
        dense
        autofocus
        v-model="searchStr"
      ></v-text-field>

      <v-sheet class="overflow-y-auto mt-4" max-height="68vh">
        <v-alert
          type="info"
          outlined
          v-if="getBusinessList.length == 0 && searchStr != ''"
        >
          Sin resultados
        </v-alert>
        <SingleBusiness
          v-for="item of getBusinessList"
          :key="item.uid"
          :item="item"
          v-show="!loading"
        ></SingleBusiness>
        <div class="loading mx-auto text-center py-5" v-if="loading">
          <v-progress-circular
            indeterminate
            size="30"
            color="accent"
          ></v-progress-circular>
          <h4>Cargando</h4>
        </div>
      </v-sheet>
    </div>
  </div>
</template>

<script>

import SingleBusiness from "@/components/Store/SingleBusinessSearch.vue";
import { getLastBusiness } from "@/firebase/usersFirestore";
export default {
  name: "Category",
  components: { SingleBusiness },
  data: () => ({
    loading: true,
    searchStr: "",
    business: [],
  }),
  methods: {
    async queryBusiness() {
      try {
        this.loading = true;
        
        const response = await getLastBusiness();
        response.forEach((doc) => {
          console.log(doc.data());
          this.business.push(doc.data());
        });

        console.log(response);
        this.loading = false;
      } catch (err) {
        this.business = [];
        this.loading = false;
        console.log("Error getting products", err);
      }
    },
  },
  computed: {
    getBusinessList() {
      if (this.searchStr == "") {
        return this.business;
      } else {
        let results = [];
        for (const company of this.business) {          
          if (
            company.name.toLowerCase().indexOf(this.searchStr.toLowerCase()) != -1 ||
            company.category.toLowerCase().indexOf(this.searchStr.toLowerCase()) != -1 ||
            company.deliveryTime.toLowerCase().indexOf(this.searchStr.toLowerCase()) != -1 ||
            company.keywords.toLowerCase().indexOf(this.searchStr.toLowerCase()) != -1
          ) {
            results.push(company);
          }
        }
        return results
      }      
    },
  },
  mounted() {
    this.$store.dispatch("enableToolbar", true);
    this.queryBusiness();
  },
  destroyed() {
    this.$store.dispatch("enableToolbar", true);
  },
};
</script>