<template>
  <div class="text-center">
    <v-bottom-sheet v-model="sheet">
      <v-list>
        <v-subheader>Acciones - {{ name }}</v-subheader>

        <v-list-item @click="openEdit()">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-account-edit</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Editar</v-list-item-title>
        </v-list-item>

        <v-list-item @click="deleteConfirm()">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-delete</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Eliminar</v-list-item-title>
        </v-list-item>
        <v-list-item @click="sheet = false">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-arrow-left</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Cancelar</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-bottom-sheet>
    <DeleteCat ref="deleteDialog" :onClose="eliminarCat"></DeleteCat>
    <EditCategory  ref="editDialog" :onClose="onCloseEdit"></EditCategory>
  </div>
</template>

<script>
import { updateBusinessCategories } from "@/firebase/users";
import DeleteCat from "@/components/Home/Business/Dialogs/DeleteCategory.vue";
import EditCategory from "@/components/Home/Business/Dialogs/EditCategory.vue";
export default {
  name: "UsersMenu",
  props: ["name", "onClose"],
  components: { DeleteCat, EditCategory },
  data: () => ({
    sheet: false,
    list: [],
    activeCat: "",
    activeIndex: 0,
  }),
  methods: {
    onCloseEdit() {
      this.sheet = false
      this.onClose()
    },
    deleteConfirm() {
      this.sheet = false;
      this.$refs.deleteDialog.openDialog(this.activeCat);
    },
    openMenu(list, cat, index) {
      this.sheet = true;
      this.list = list;
      this.activeCat = cat;
      this.activeIndex = index;
    },
    openEdit() {
      this.$refs.editDialog.openDialog(this.list, this.activeIndex, this.activeCat)      
    },
    async eliminarCat(confirm = false) {
      if (!confirm) {
        return false;
      }
      try {
        this.overlay = true;
        this.list.splice(this.activeIndex, 1);
        console.log(this.list)
        await updateBusinessCategories(this.$cookies.get("uid"), this.list);
        this.dialog = false;
        this.overlay = false;
        this.onClose();
      } catch (err) {
        console.log("error deleting");
      }
    },
  },
};
</script>

<style></style>
