<template>
  <div class="text-center">
    <v-bottom-sheet v-model="sheet">
     
      <v-list>
        <v-subheader>Acciones - {{ user.email }}</v-subheader>
        <v-list-item>
            <v-list-item-content>
                 <v-img
        :src="user.photo ? user.photo : '../assets/user_placeholder.png'"
        max-width="100"
        class="mx-auto"
      ></v-img>
      <h2 class="text-center mt-5">{{user.name}}</h2>

      <v-card class="mt-2">
        <v-card-title class="text-center mb-0 pb-0">
          Puntuación
        </v-card-title>
        <v-card-text>
          <v-rating
            v-model="user.starCount"
            color="yellow darken-3"
            background-color="grey darken-1"
            empty-icon="$ratingFull"
            half-increments
            hover            
            readonly
          ></v-rating>
        </v-card-text>
      </v-card>
            </v-list-item-content>
        </v-list-item>
        <v-list-item :to="'/admin/membership/' + user.uid">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-card-account-details</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Membresía</v-list-item-title>
        </v-list-item>
        <v-list-item @click="convertUserTo()">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-google-my-business</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Convertir en {{user.role == 'client' ? 'Negocio' : 'Cliente'}}</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-delete</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Eliminar</v-list-item-title>
        </v-list-item>
        <v-list-item @click="sheet = false">
          <v-list-item-avatar>
            <v-avatar size="32px" tile>
              <v-icon>mdi-arrow-left</v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>Cancelar</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { convertTo } from '../../../../firebase/users'
export default {
  name: "UsersMenu",
  props: ["user", "onClose"],
  data: () => ({
    sheet: false,
  }),
  methods: {
    openMenu() {
      this.sheet = true;
    },
    async convertUserTo() {
        let nrole = this.user.role == 'client' ? 'business' : 'client'
        await convertTo(this.user, nrole)
        this.sheet = false
        this.onClose('Usuario actualizado','success')
    }
  },
};
</script>

<style></style>
