<template>
  <div class="orders pa-3 pt-8">
    <v-img
      :src="logo ? logo : '../assets/user_placeholder.png'"
      max-width="100"
      class="mx-auto"
    ></v-img>
    <h2 class="text-center mt-5">Mi Cuenta</h2>

    <v-card class="mt-2">
      <v-card-title class="text-center">
        Tu Puntuación
      </v-card-title>
      <v-card-text>
        <v-rating
          v-model="rating"
          color="yellow darken-3"
          background-color="grey darken-1"
          empty-icon="$ratingFull"
          half-increments
          hover
          large
          readonly
        ></v-rating>
      </v-card-text>
    </v-card>

    <v-form class="mt-7">
      <v-text-field
        label="Nombre completo"
        required
        filled
        v-model="name"
      ></v-text-field>
      <v-text-field
        label="Correo Electrónico"
        required
        filled
        type="email"
        readonly
        v-model="email"
      ></v-text-field>

      <v-btn color="primary" block rounded large @click="updateUser()">
        Actualizar Información
      </v-btn>
    </v-form>

    <v-btn color="black" block class="mt-10" dark @click="logout()">
      Cerrar Sesión
    </v-btn>
    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      bottom
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </div>
</template>

<script>
import { getAuth, signOut } from "firebase/auth";
import { updataInfo } from "../../firebase/auth";
export default {
  name: "MyAccount",
  data: () => ({
    rating: 4,
    name: "",
    email: "",
    logo: false,
    snackbar: false,
    snackColor: "success",
    snackText: "",
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    logout() {
      const auth = getAuth();
      signOut(auth)
        .then(() => {
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove('role');
          this.$cookies.remove('uid');      
          this.$router.push("/");
        })
        .catch((error) => {
          console.log("Error in logout", error);
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove('role');
          this.$cookies.remove('uid');
          this.$router.push("/");
        });
    },
    async updateUser() {
      try {
        await updataInfo(this.name);
        this.showSnackbar("Información actualizada", "success");
      } catch (err) {
        console.log("Update Error", err);
        this.showSnackbar("Ocurrio un error", "error");
      }
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", true);
    const auth = getAuth();
    const user = auth.currentUser;
    if (user !== null) {
      console.log(user);
      this.name = user.displayName;
      this.email = user.email;
      this.logo = user.photoURL;
    }
  },
};
</script>
