<template>
  <div class="home-admin pa-4">    
    <v-card class="mb-4" to="/admin/banner">
      <v-card-title class="d-block">
        <v-icon class="mr-2" color="primary">mdi-image-size-select-actual</v-icon> Banner Principal        
      </v-card-title>
      <v-card-text>
        Configurar los negocios que apreceran en el banner principal.          
      </v-card-text>
    </v-card>
     <v-card @click="$refs.categoriesDialog.openDialog()">
       <v-card-title class="d-block">
        <v-icon class="mr-2" color="primary">mdi-tag-multiple</v-icon> Categorías        
      </v-card-title>
     
      <v-card-text>
        Configurar las categorías disponibles.
      </v-card-text>
    </v-card>
    
    <CategoriesList ref="categoriesDialog"></CategoriesList>
  </div>
</template>

<script>
import CategoriesList from '../../components/Home/Admin/CategoriesList.vue'
export default {
  name: "Home",
  components: {CategoriesList},
  data: () => ({}),
  methods: {},
  mounted() {
    this.$store.dispatch("forceViewAdmin", true)
  }
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
</style>
