<template>
  <div class="membership-admin pa-4">
    <h2 class="mb-2">Servicios del usuario</h2>
    <v-img
      :src="user.photo ? user.photo : '../assets/user_placeholder.png'"
      max-width="100"
      class="mx-auto"
    ></v-img>
    <h2 class="text-center mt-5">{{ user.name }}</h2>

    <v-simple-table fixed-header class="mt-2">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Descripción</th>
            <th class="text-left">Precio Mensual</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="{ item } of itemsPlan" :key="item.description">
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import { getClientInfo } from "@/firebase/users";
export default {
  name: "Membership",
  data: () => ({
    user: {
      photo: false,
      name: "",
    },
    itemsPlan: [],
  }),
  methods: {
    async getInfo() {
      try {
        const response = await getClientInfo(this.$route.params.id);
        if (response.val()) {
          this.user = response.val();
        }
      } catch (err) {
        console.log(err);
        this.user = {
          photo: false,
          name: "",
        };
      }
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", true);
    this.getInfo();
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
</style>
