<template>
  <div class="home-admin statistics-tab pa-4">
    <v-card color="primary" dark>
      <v-card-title>
        Total ventas semanales
      </v-card-title>
      <v-sparkline
        :labels="labels"
        :value="value"
        color="white"
        line-width="5"
        padding="16"
        height="100"
      ></v-sparkline>
    </v-card>
    <v-row class="mt-3">
      <v-col cols="6">
        <v-card color="accent" dark>
          <v-card-title>
            Clientes
          </v-card-title>
          <v-card-text class="display-1">
            50
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card color="secondary">
          <v-card-title>
            Negocios
          </v-card-title>
          <v-card-text class="display-1">
            10
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Statistics",
  data: () => ({
    labels: ["Lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"],
    value: [200, 675, 410, 390, 310, 460, 250],
  }),
  methods: {},
  mounted() {
    this.$store.dispatch("forceViewAdmin", true);
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
</style>
