<template>
  <div class="home-admin users-tab pt-2">
    <v-tabs v-model="tab" centered grow>
      <v-tabs-slider></v-tabs-slider>

      <v-tab>
        Negocios
      </v-tab>

      <v-tab>
        Clientes
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-alert
          v-if="getBusiness.length == 0"
          class="pa-10 text-center ma-5"
          color="primary"
          text
        >
          Sin resultados
        </v-alert>

        <v-list three-line>
          <template v-for="(item, index) in getBusiness">
            <v-divider :inset="true" :key="item.email"></v-divider>

            <v-list-item :key="index" @click="showActions(item)">
              <v-list-item-avatar>
                <v-img :src="item.photo"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>
                  {{ item.name }}
                  <v-chip class="ma-2" color="primary">
                    <v-icon class="mr-2">mdi-star</v-icon>
                    {{ item.starCount }} / 5
                  </v-chip>
                </v-list-item-title>
                <v-list-item-subtitle
                  v-html="item.email"
                ></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-list>
      </v-tab-item>
      <v-tab-item>
        <v-alert
          v-if="getClients.length == 0"
          class="pa-10 text-center ma-5"
          color="primary"
          text
        >
          Sin resultados
        </v-alert>
        <v-list three-line>
          <template v-for="(item, index) in getClients">
            <v-divider :inset="true" :key="item.email"></v-divider>

            <v-list-item :key="index" @click="showActions(item)">
              <v-list-item-avatar>
                <v-img :src="item.photo"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>
                  {{ item.name }}
                  <v-chip class="ma-2" color="primary">
                    <v-icon class="mr-2">mdi-star</v-icon>
                    {{ item.starCount }} / 5
                  </v-chip>
                </v-list-item-title>
                <v-list-item-subtitle
                  v-html="item.email"
                ></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-list>
      </v-tab-item>
    </v-tabs-items>

    <UserMenu :user="userAction" :onClose="closeMenu" ref="userMenu"></UserMenu>
    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      bottom
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </div>
</template>

<script>
import { getAll } from "@/firebase/users";
import UserMenu from "@/components/Home/Admin/Menus/User.vue";
export default {
  name: "Users",
  components: { UserMenu },
  data: () => ({
    tab: 0,
    items: [],
    userAction: false,
    snackbar: false,
    snackColor: "success",
    snackText: "",
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    closeMenu(msg, color) {
      this.getData();
      this.showSnackbar(msg, color);
    },
    showActions(u) {
      this.userAction = u;
      this.$refs.userMenu.openMenu();
    },
    async getData() {
      try {
        const response = await getAll();
        console.log("Users", response);
        this.items = response;
      } catch (err) {
        console.log(err);
      }
    },
  },
  mounted() {
    this.$store.dispatch("forceViewAdmin", true);
    this.getData();
  },
  computed: {
    getClients() {
      let result = [];
      for (const key in this.items) {
        const item = this.items[key];
        if (item.role == "client") {
          item["uid"] = key;
          result.push(item);
        }
      }

      return result;
    },
    getBusiness() {
      let result = [];
      for (const key in this.items) {
        const item = this.items[key];
        if (item.role == "business") {
          item["uid"] = key;
          result.push(item);
        }
      }
      return result;
    },
  },
};
</script>

<style lang="scss" scoped>
.full-height {
  height: 100%;
}
.v-divider {
  &:first-child {
    display: none;
  }
}
</style>
