<template>
  <v-slide-group v-model="model" active-class="success" :show-arrows="false">
    <v-slide-item v-for="(item, index) of list" :key="index">
      <v-card
        class="ma-2 d-flex align-center justify-center"
        height="100"
        width="100"
        elevation="0"
        :to="'/category/' + index"
      >
        <div>
          <div class="image-cat" :style="'background-color: ' + item.color">
            <v-img
              :src="
                'https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/categories%2F' +
                  item.thumbnail +
                  '?alt=media'
              "
              width="50"
              class="mx-auto mb-1"
              contain
            ></v-img>
          </div>
          <h5 class="cat-title">{{ item.name }}</h5>
        </div>
      </v-card>
    </v-slide-item>
  </v-slide-group>
</template>

<script>
import { getAllCategories } from "../../../firebase/categories";
export default {
  name: "Categories",
  data: () => ({
    model: null,
    list: [],
  }),
  methods: {
    async getData() {
      try {
        const response = await getAllCategories();
        this.list = response;
      } catch (err) {
        this.list = err;
      }
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style lang="scss">
.image-cat {
  padding: 14px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f45b55;
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #00000026;
}
.cat-title {
  position: absolute;
  bottom: -10px;
  left: 15px;
}
</style>
