<template>
  <v-bottom-navigation
    :value="value"
    color="primary"
    grow
    fixed
    app
    height="54"
  >
    <v-btn
      x-large
      to="/home"
      v-show="
        !$store.getters.getForceStatus && ($cookies.get('role') == 'client' || $cookies.get('role') == 'admin')
      "
    >
      <span>Inicio</span>

      <v-icon>mdi-storefront-outline</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/search"
      v-show="
        !$store.getters.getForceStatus && ($cookies.get('role') == 'client' || $cookies.get('role') == 'admin')
      "
    >
      <span>Buscar</span>

      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/orders"
      v-show="
        !$store.getters.getForceStatus && ($cookies.get('role') == 'client'  || $cookies.get('role') == 'admin')
      "
    >
      <span>Pedidos</span>

      <v-icon>mdi-history</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/business/dashboard"
      v-show="
        !$store.getters.getForceStatus && $cookies.get('role') == 'business'
      "
    >
      <span>General</span>

      <v-icon>mdi-view-dashboard</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/business/orders"
      v-show="
        !$store.getters.getForceStatus && $cookies.get('role') == 'business'
      "
    >
      <span>Pedidos</span>

      <v-icon>mdi-history</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/business/services"
      v-show="
        !$store.getters.getForceStatus && $cookies.get('role') == 'business'
      "
    >
      <span>Servicios</span>

      <v-icon>mdi-store</v-icon>
    </v-btn>

    <v-btn x-large to="/admin/general" v-show="$store.getters.getForceStatus">
      <span>General</span>

      <v-icon>mdi-account-group</v-icon>
    </v-btn>

    <v-btn x-large to="/admin/users" v-show="$store.getters.getForceStatus">
      <span>Usuarios</span>

      <v-icon>mdi-account-group</v-icon>
    </v-btn>

    <v-btn
      x-large
      to="/admin/statistics"
      v-show="$store.getters.getForceStatus"
    >
      <span>Estadísticas</span>

      <v-icon>mdi-chart-areaspline-variant</v-icon>
    </v-btn>

    <v-btn x-large to="/account" v-show="!$store.getters.getForceStatus">
      <span>Mi Cuenta</span>

      <v-icon>mdi-account</v-icon>
    </v-btn>

    <v-btn x-large to="/admin/account" v-show="$store.getters.getForceStatus">
      <span>Mi Cuenta</span>

      <v-icon>mdi-account</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  name: "Navigation",
  data: () => ({
    value: false,
  }),
};
</script>

<style></style>
