<template>
  <div class="recomendations">
    <SingleBusiness
      v-for="item of users"
      :key="item.uid"
      :item="item"   
      v-show="!loading"   
    ></SingleBusiness>
    <div class="loading mx-auto text-center py-5" v-if="loading">
      <v-progress-circular indeterminate size="30" color="accent" ></v-progress-circular>
      <h4>Cargando</h4>
    </div>
  </div>
</template>

<script>
import { getAll } from "@/firebase/users";
import SingleBusiness from "../Business/SingleBusiness.vue";
export default {
  name: "Categories",
  components: { SingleBusiness },
  data: () => ({
    users: [],
    loading: true,
    baseBannerURL:
      "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F",
  }),
  methods: {
    async getData() {
      try {
        const response = await getAll();
        this.users = [];
        for (const u in response) {
          if (response[u].role == "business") {
            this.users.push(response[u]);
          }
        }
        console.log(this.users);
        this.loading = false
      } catch (err) {
        console.log(err);
        this.loading = false
      }
    },
  },
  mounted() {
    this.getData();
  },
};
</script>

<style lang="scss">
.newcard {
  box-shadow: 0 0 7px #0000002e !important;
}
</style>
