<template>
  <v-carousel hide-delimiters height="150" class="rounded" :show-arrows="false" cycle interval="4000">
    <v-carousel-item
      v-for="(item, i) in items"
      :key="i"
      :src="item.src"      
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2F2XM8hBRnGqesM6ic20SbdzkgGl83.jpg?alt=media",
        },
        {
          src: "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2FgWVN7CG26UMXKcDHQK7FDFPmS0K2.jpg?alt=media",
        },        
        {
          src: "https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/users%2Fbanners%2FIAPlORcD7TOyTjP6oPoWLLiFdXP2.jpg?alt=media",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
    .rounded {
        border-radius: 16px !important;
    }
</style>
