<template>
  <v-app
    :class="[
      $store.getters.isLogged && $store.getters.enableToolbar
        ? 'loggedMargin'
        : '',
    ]"
  >
    <div
      class="app-head pb-1"
      v-if="$cookies.get('role') && $store.getters.enableToolbar"
      fixed
    >
      <v-chip
        color="primary"
        class="mychip"
        large
        v-if="!$store.getters.getForceStatus"
      >
        <v-icon size="30" class="mr-3">mdi-map-marker</v-icon>
        <span>Zona 13, Guatemala</span>
      </v-chip>
      <v-chip
        color="primary"
        class="mychip"
        large
        v-if="$store.getters.getForceStatus"
      >
        <h2>MiColonia Admin</h2>
      </v-chip>

      <v-btn
        class="btn-cart mt-1 px-1"
        color="primary"
        large
        text
        v-if="
          $store.getters.getRole == 'client' && $store.getters.cart.length > 0
        "
        @click="openCart()"
      >
        <v-icon size="30" class="mr-2">mdi-cart</v-icon>
        <span
          style="font-size: 18px"
          class="black--text"
          v-text="parseFloat($store.getters.cartTotals).toFixed(2)"
        ></span>
      </v-btn>

      <v-menu
        offset-y
        class="float-right"
        rounded="xl"
        v-if="$cookies.get('role') != 'client'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-avatar
            class="float-right mt-1 mr-1 user-avatar"
            size="50"
            v-bind="attrs"
            v-on="on"
          >
            <img
              :src="
                $store.getters.user.photo
                  ? $store.getters.user.photo
                  : 'https://firebasestorage.googleapis.com/v0/b/milocal-5c651.appspot.com/o/assets%2Fuser_placeholder.png?alt=media&token=75df62fb-f4ea-45f8-baa4-f958531fa586'
              "
              alt="John"
            />
          </v-avatar>
        </template>
        <v-list>
          <v-list-item to="/account" v-show="!$store.getters.getForceStatus">
            <v-list-item-title
              ><v-icon class="mr-">mdi-account</v-icon> Mi
              Cuenta</v-list-item-title
            >
          </v-list-item>
          <v-list-item to="/orders" v-show="!$store.getters.getForceStatus && $store.getters.getRole == 'client'">
            <v-list-item-title
              ><v-icon class="mr-2">mdi-history</v-icon
              >Pedidos</v-list-item-title
            >
          </v-list-item>
          <v-list-item to="/home">
            <v-list-item-title
              ><v-icon class="mr-2">mdi-home</v-icon>Ver App</v-list-item-title
            >
          </v-list-item>
          <v-list-item to="/admin" v-show="$store.getters.getRole == 'admin'">
            <v-list-item-title
              ><v-icon class="mr-2">mdi-cog</v-icon
              >Administración</v-list-item-title
            >
          </v-list-item>
          <v-list-item>
            <v-list-item-title @click="logout()"
              ><v-icon class="mr-2">mdi-logout-variant</v-icon>Cerrar
              Sesión</v-list-item-title
            >
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

    <v-main>
      <vue-page-transition name="fade-in-down" class="full-height">
        <router-view />
      </vue-page-transition>
    </v-main>

    <CartDrawer></CartDrawer>
    <Navigation v-if="$cookies.get('role')"></Navigation>
    <RatingStore :order="orderRating" ref="ratingView"></RatingStore>
  </v-app>
</template>

<script>
import { getAuth, onAuthStateChanged, signOut } from "firebase/auth";
import Navigation from "@/components/Home/Clients/Navigation.vue";
import CartDrawer from "@/components/Store/CartDialog.vue";
import { getUserDB } from "@/firebase/auth";
import { getClientOrders } from "@/firebase/orders";
import { getOrdersRT, getUserOrdersRT } from "@/firebase/realtime";
import RatingStore from "@/components/Store/RatingStore.vue";
export default {
  name: "App",
  components: { Navigation, CartDrawer, RatingStore },
  data: () => ({
    drawer: false,
    group: null,
    isAdmin: false,
    orderRating: {},
  }),
  methods: {
    openCart() {
      this.$store.dispatch("cartStatus", true);
    },
    logout() {
      const auth = getAuth();
      signOut(auth)
        .then(() => {
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove("role");
          this.$cookies.remove("uid");
          this.$store.dispatch("emptyCart");
          this.$router.push("/");
        })
        .catch((error) => {
          console.log("Error in logout", error);
          this.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          this.$cookies.remove("role");
          this.$cookies.remove("uid");
          this.$store.dispatch("emptyCart");
          this.$router.push("/");
        });
    },
    async getOrders(uid) {
      const response = await getClientOrders(uid);
      for (const key in response.val()) {
        if (response.val()[key].status == "requested") {
          let order = response.val()[key];
          order["key"] = key;
          this.$store.dispatch("setActiveOrder", order);
        }
      }
    },
    async initAuth() {
      const self = this;
      const auth = getAuth();
      onAuthStateChanged(auth, (user) => {
        if (user) {
          getUserDB(user.uid).then((userdb) => {
            localStorage.setItem("userinfo", JSON.stringify(userdb));
            self.$store.dispatch("setRole", userdb.role);
            self.$store.dispatch("setUserInfo", userdb);
            self.$store.dispatch("setLogged", true);
            self.$cookies.set("uid", user.uid);
            self.$cookies.set("role", userdb.role);
            if (userdb.role) {
              self.getOrders(user.uid);
            }
            if (userdb.role == "business") {
              self.listenOrders();
            }
            if (userdb.role == "client") {
              self.listenUserOrders();
            }
          });
        } else {
          self.$store.dispatch("setLogged", false);
          localStorage.setItem("userinfo", JSON.stringify([]));
          self.$cookies.remove("role");
          self.$cookies.remove("uid");
          self.$router.push("/");
        }
      });
    },
    getStatusText(str) {
      switch (str) {
        case "requested":
          return "Pendiente";
        case "cook":
          return "Preparando";
        case "ready":
          return "Lista para recojer";
        case "shipped":
          return "En Camino";
        case "completed":
          return "Completada";
        default:
          return "Cancelada";
      }
    },
    listenOrders() {
      getOrdersRT(this.$cookies.get("uid"), (snapshot) => {
        if (snapshot.val()) {
          let ordersList = [];
          for (const key in snapshot.val()) {
            const order = snapshot.val()[key];
            order["key"] = key;
            if (order.status == "requested") {
              this.$notification.show(
                "Orden pendiente de entrega",
                {
                  vibrate: [200, 100, 200],
                  body: `Dirección: ${order.address.address}\nTotal: ${
                    order.total
                  }\nEstado: ${this.getStatusText(order.status)}
                  `,
                },
                {}
              );
            }
            ordersList.push(order);
          }
          ordersList.reverse();
          this.$store.dispatch("setOrdersList", ordersList);
        }
      });
    },
    listenUserOrders() {
      getUserOrdersRT(this.$cookies.get("uid"), (snapshot) => {
        if (snapshot.val()) {
          let ordersList = [];
          for (const key in snapshot.val()) {
            const order = snapshot.val()[key];
            order["key"] = key;
            if (order.status == "completed" && order.rated == false) {
              // Run Rating Screen
              this.orderRating = order;
              this.$refs.ratingView.openDialog(order);
              this.$store.dispatch("setActiveOrder", false);
            }
            console.log("Change order to", order.status);
            if (
              order.status == "requested" ||
              order.status == "cook" ||
              order.status == "ready" ||
              order.status == "shipped"
            ) {
              this.$store.dispatch("setActiveOrder", order);
            }
            ordersList.push(order);
          }
          ordersList.reverse();
          this.$store.dispatch("setOrdersList", ordersList);
        }
      });
    },
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
  mounted() {
    this.initAuth();
    this.$notification.requestPermission().then(resp => {
      console.log(resp)
    });    
  },
};
</script>

<style lang="scss">
.mychip {
  border-radius: 0px 0 16px 0px !important;
}
.user-avatar {
  border: 2px solid white;
  box-shadow: 0px 0px 7px #0000004d;
}
.full-height {
  height: 100%;
}

.btn-cart {
  position: absolute;
  right: 10px;
  top: 0;
}

.app-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #ffffffeb;
}

.loggedMargin {
  padding-top: 48px;
}
</style>
