<template>
  <v-row justify="center">
    <v-dialog v-model="status" max-width="400">
      <v-card>
        <v-card-title class="text-h5">
          Registro
        </v-card-title>
        <v-card-text>
          <v-form class="mt-3" ref="form" v-model="valid" lazy-validation>
            <v-text-field
              label="Nombre completo"
              required
              outlined
              v-model="name"
              :rules="[rules.required]"
            ></v-text-field>
            <v-text-field
              label="Correo Electrónico"
              required
              outlined
              type="email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>
            <v-text-field
              label="Contraseña"
              required
              outlined
              v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              @click:append="show1 = !show1"
            ></v-text-field>
            <v-btn
              block
              color="primary"
              rounded
              elevation="0"
              large
              @click="register()"
              >REGISTRARME</v-btn
            >
            <v-btn
              block
              color="primary"
              rounded
              elevation="0"
              large
              @click="openLogin()"
              text
              class="mt-3"
              >Ya tengo cuenta</v-btn
            >
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      top
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </v-row>
</template>

<script>
import { registerWithEmail } from "@/firebase/auth";
import { updateUserToDBEmail, getUserDB } from "@/firebase/auth";
import { createOrUpdateUser } from "@/firebase/usersFirestore";
export default {
  name: "EmailRegister",
  props: ["loginAccountClick"],
  data: () => ({
    emailRules: [
      (v) => !!v || "Correo requerido",
      (v) => /.+@.+\..+/.test(v) || "El correo no es valido",
    ],
    status: false,
    valid: false,
    show1: false,
    email: "",
    password: "",
    name: "",
    rules: {
      required: (value) => !!value || "Requerido.",
      min: (v) => v.length >= 6 || "Min 6 caracteres",
    },
    snackbar: false,
    snackColor: "success",
    snackText: "",
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    openDialog() {
      this.status = true;
    },
    openLogin() {
      this.status = false;
      this.loginAccountClick();
    },
    async register() {
      this.$refs.form.validate();
      if (this.valid) {
        try {
          const response = await registerWithEmail(this.email, this.password);
          const user = response.user;          
          await updateUserToDBEmail(user, "client", this.name);

          const userdb = await getUserDB(user.uid);
          console.log("USER DB", userdb)
          localStorage.setItem("userinfo", JSON.stringify(userdb));
          this.$store.dispatch("setRole", userdb.role);

          this.$cookies.set("role", userdb.role);
          this.$cookies.set("uid", user.uid);
          if (!userdb.business) {
            this.$cookies.set("business_init", true);
          } else {
            this.$cookies.set("business_init", false);
          }

          if (userdb.role == "client") {
            this.$router.push("/home");
          } else if (userdb.role == "business") {
            await createOrUpdateUser(
              user.uid,
              userdb.business.name,
              userdb.business.keywords,
              userdb.creation_date
            );
            this.$router.push("/business/orders");
          } else if (userdb.role == "admin") {
            this.$router.push("/admin");
          } else {
            this.$router.push("/home");
          }
        } catch (err) {
          console.log(err.code);
          if (err.code == "auth/email-already-in-use") {
            this.showSnackbar("Este correo ya esta registrado", "error");
          } else {
            this.showSnackbar("Revisa tus datos", "error");
          }
        }
      } else {
        this.showSnackbar("Revisa tus datos", "error");
      }
    },
  },
};
</script>

<style></style>
