<template>
  <v-row justify="center">
    <v-dialog v-model="status" max-width="400">
      <v-card>
        <v-card-title class="text-h5">
          Entrar con tu correo
        </v-card-title>
        <v-card-text>
          <v-form class="mt-3" ref="form" v-model="valid" lazy-validation>
            <v-text-field
              label="Correo Electrónico"
              required
              outlined
              type="email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>
            <v-text-field
              label="Contraseña"
              required
              outlined
              v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              @click:append="show1 = !show1"
            ></v-text-field>
            <v-btn
              block
              color="primary"
              rounded
              elevation="0"
              large
              @click="login()"
              >ENTRAR</v-btn
            >
            <v-btn
              block
              color="primary"
              rounded
              elevation="0"
              large
              @click="openRegister()"
              text
              class="mt-3"
              >CREAR MI CUENTA</v-btn
            >
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      rounded="pill"
      top
      class="mt-12"
      :color="snackColor"
    >
      {{ snackText }}
    </v-snackbar>
  </v-row>
</template>

<script>
import {
  updateUserToDBEmail,
  getUserDB,
  loginWithEmail,
} from "@/firebase/auth";
export default {
  name: "Email",
  props: ["createAccountClick"],
  data: () => ({
    status: false,
    emailRules: [
      (v) => !!v || "Correo requerido",
      (v) => /.+@.+\..+/.test(v) || "El correo no es valido",
    ],
    valid: false,
    show1: false,
    email: "",
    password: "",
    rules: {
      required: (value) => !!value || "Requerido.",
      min: (v) => v.length >= 6 || "Min 6 caracteres",
    },
    snackbar: false,
    snackColor: "success",
    snackText: "",
  }),
  methods: {
    showSnackbar(txt, color) {
      this.snackText = txt;
      this.snackColor = color;
      this.snackbar = true;
    },
    openDialog() {
      this.status = true;
    },
    openRegister() {
      this.status = false;
      this.createAccountClick();
    },
    async login() {
      this.$refs.form.validate();
      if (this.valid) {
        try {
          const response = await loginWithEmail(this.email, this.password);
          const user = response.user;
          await updateUserToDBEmail(user, "client", false);

          const userdb = await getUserDB(user.uid);
          
          localStorage.setItem("userinfo", JSON.stringify(userdb));
          this.$store.dispatch("setRole", userdb.role);

          this.$cookies.set("role", userdb.role);
          this.$cookies.set("uid", user.uid);
          if (!userdb.business) {
            this.$cookies.set("business_init", true);
          } else {
            this.$cookies.set("business_init", false);
          }
        
          if (userdb.role == "client") {
            this.$router.push("/home");
          } else if (userdb.role == "business") {

            this.$router.push("/business/orders");
          } else if (userdb.role == "admin") {
            this.$router.push("/admin");
          } else {
            this.$router.push("/home");
          }
        } catch (err) {
          console.log(err);
          if (err.code == "auth/wrong-password") {
            this.showSnackbar("Contraseña incorrecta", "error");
          } else if (err.code == "auth/user-not-found") {
            this.showSnackbar("El correo no esta registrado", "error");
          } else {
            this.showSnackbar("Revisa tus datos", "error");
          }
        }
      } else {
        this.showSnackbar("Revisa tus datos", "error");
      }
    },
  },
};
</script>

<style></style>
